[2015-10-09 08:25] chrmod-cliqz opened #3 "Identify and replace prefs with marketing URL"
To reduce end-user confusion, we should point all content URLs to CLIQZ website.

[2015-10-09 08:29] chrmod-cliqz commented on #3
Noticed on Windows 10 after update: https://www.mozilla.org/en-US/firefox/windows-10/welcome/?utm_source=firefox-browser&utm_medium=firefox-browser

[2015-10-09 09:34] alver-cliqz opened #4 "Install without administrative rights on Windows"
Now our browser could be installed only with administrative rights on user's PC. I checked - original FF could be installed in the same way. But Chrome, for example, can be installed without administrative rights.

Let's investigate, does it possible to do with FF? Not all users have admin rights on their Windows.

[2015-10-09 09:38] alver-cliqz opened #5 "Tabs in FF"
![1](https://cloud.githubusercontent.com/assets/14071898/10390561/cef40072-6e79-11e5-937e-671e440eac24.PNG)

1. Active and non-active tabs looks absolutely similar.
2. Imo, we need to improve design in "between tab" space. Now it's not so clear, and on bad quality of monitor could be not possible to see a border between two tabs.

[2015-10-09 09:42] alver-cliqz opened #6 "Browser main window border on Windows"
![2](https://cloud.githubusercontent.com/assets/14071898/10390673/751a3ef8-6e7a-11e5-867d-7deb315f96b2.PNG)

1. The border on main window looks ugly if make "normal" (not maximized) window size in Windows. This is because we replace color in "tab area" to gray color
2. System buttons (minimize-maximize-close) looks strange by same reason, as in p.1

[2015-10-09 09:50] alver-cliqz opened #8 "[important] Back button"
![3](https://cloud.githubusercontent.com/assets/14071898/10390770/01f57e14-6e7b-11e5-9061-0056901b56d8.PNG)

I'm absolutely sure, that "Back" button must be placed near left size of screen. Current position of this button totally broken user experience on Windows.

Buttons near screen edge in windows called as "infinitife button", because it doesn't matter how far you will move a mouse to the edge

[2015-10-09 09:57] alver-cliqz opened #9 "All binaries must have digital sign"
Now, as i see, only one binary file - cliqz.exe - have a digital sign. It's better to sign all binary in our product (to reduce number of problems with Antiviruses)

[2015-10-09 09:59] alver-cliqz opened #10 "Add timestamp and email to digital sign"
Let's add at least timestamp to digital signes. Email could not be possible to add (i don't remember correctly, but it may be taken from certificate information)

[2015-10-09 10:35] alver-cliqz opened #11 "Browser icon"
![7](https://cloud.githubusercontent.com/assets/14071898/10391829/ed2be46c-6e81-11e5-945f-a1a1a6d7b0a3.PNG)
![8](https://cloud.githubusercontent.com/assets/14071898/10391830/ed2eba48-6e81-11e5-8b93-0d6b99aa4d95.PNG)

Now it's look much better than black one :) Look in attaches, please. It still can be little confusing to find Cliqz icon on some backgrounds. Browser could be installed in millions o

[2015-10-09 10:38] alver-cliqz commented on #8
Thanks, button on left side not, need to add little improvement to catch left edge of screen (when mouse cursor on screen edge - button must be active).

[2015-10-09 10:40] alver-cliqz commented on #6
![9](https://cloud.githubusercontent.com/assets/14071898/10391938/d419cca4-6e82-11e5-8070-3977b450bbfd.PNG)

It fixed, thanks. One more small request - can we try to do something with "left corner" in normal window mode? I'm sure, it could looks better :) For example, put tab border to the left size for this window mode.

[2015-10-09 12:29] chrmod-cliqz commented on #10
Solved by https://github.com/cliqz/browser-f/commit/880efd555a4ec47cf4f042b571c56eb52fef014b

[2015-10-09 12:29] #10 closed

[2015-10-09 12:30] chrmod-cliqz commented on #10
Could not find a way to set email. It seems it is being provided by certificate.

[2015-10-09 14:17] #8 closed

[2015-10-12 14:49] alver-cliqz commented on #8
thanks!

[2015-10-12 15:03] alver-cliqz opened #15 "Add custom string to User-Agent?"
Now our product have the same UA, as original:
User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64; rv:39.0) Gecko/20100101 Firefox/39.0

Is it good idea to add our string into it? So any third-party company will be able to calculate our auditory. For example:
User-Agent: Mozilla/5.0 (Windows NT 6.3; WOW64; rv:39.0) Gecko/20100101 Firefox/39.0 CliqzFF/39.0

(suggest - better to add some text to "Cliqz"

[2015-10-16 10:04] khaled-cliqz opened #16 "Cliqz browser doesn't close when trying to load a huge page"
https://dumps.wikimedia.org/enwiki/latest/enwiki-latest-abstract14.xml

this url contains a 200+ MB xml file, when I opened it, it was loading for a long time.
then I closed the tab, it kept opening again and kept trying to load the page.
and after time browser became very heavy and hanged

N.B: thanks to @luciancor we found out that the bug also occurs on firefox.

[2015-10-20 12:01] chrmod opened #17 "CLIQZ browser theme - centered address bar"
Reported by: stefanie-cliqz
Original issue: https://github.com/cliqz/browser-feedback/issues/78

After testing the new browser theme on Mac and Windows for a few days, I find the centered address bar unintuitive. On smaller screens, centered vs left-aligned does not make any difference as the width of the bar is fixed. However, when using the browser on a large screen I continue to automatically g

[2015-10-20 12:04] chrmod opened #18 "Facebook indentifies CLIQZ browser as "Firefox" (cliqz -0.9)"
Reported by: thomask-cliqz
Original issue: https://github.com/cliqz/browser-feedback/issues/76
![7ae9489c-5610-11e5-8695-afca40dc5dbe](https://cloud.githubusercontent.com/assets/1228153/10606480/76fc8b7e-7733-11e5-9e5e-0aa7ec63516d.png)

[2015-10-20 12:09] chrmod opened #19 "WebIDE - Title contains Firefox"
Reporter: eleniS
Original issue: https://github.com/cliqz/browser-feedback/issues/71

You can open it with Shift+F8.
Not sure if we really want to rename it, but just to be sure it is noticed:)
<img width="644" alt="01841a66-4a5a-11e5-9d76-a47e25877954" src="https://cloud.githubusercontent.com/assets/1228153/10606576/1eebc610-7734-11e5-93e5-3083f3e189af.png">

[2015-10-20 12:12] chrmod opened #20 ""Standard-Suchmaschine""
Original issue: https://github.com/cliqz/browser-feedback/issues/85
Reporter: javier-cliqz

![d9abb768-7733-11e5-8c42-84a1a16f3d9a](https://cloud.githubusercontent.com/assets/1228153/10606640/93d63c80-7734-11e5-9971-06f4fe746d67.png)

bildschirmfoto 2015-10-20 um 13 57 16

As you can see, we still refer to other search engines as "standard". The standard search engine in the Cliqz Browser is Cliqz

[2015-10-20 12:35] chrmod opened #21 "Firefox-labeled message when trying to start a second CLIQZ instance"
Original issue: https://github.com/cliqz/browser-feedback/issues/64
Reporter: dominiks-cliqz

Trying to start CLIQZ a second time (i.e., while already running) prompts a Firefox-labeled message:
![11617892-44c0-11e5-9dd8-d3e467356313](https://cloud.githubusercontent.com/assets/1228153/10607128/bc5239cc-7737-11e5-9910-b2bdf5d05e47.png)
This occurs rarely, for example when the MacOS dock thinks that

[2015-10-20 12:35] chrmod commented on #21
not sure if dialog is possible to brand due to https://bugzilla.mozilla.org/show_bug.cgi?id=735710

[2015-10-20 12:36] chrmod opened #22 "Add-ons installed in Firefox should be transferred to CLIQZ browser"
Original issue: https://github.com/cliqz/browser-feedback/issues/63
Reporter: richard-cliqz

[2015-10-20 12:39] chrmod opened #23 ""CLIQZ seems slow...to...start" - Learn to speed it up will lead to Refresh FF download page"
Original issue: https://github.com/cliqz/browser-feedback/issues/60
Reporter: stefanie-cliqz

When opening CLIQZ browser (with slow internet connection?) a message at the bottom of the window invites user to speed up the browser start, see button on the right hand side of the screenshot. Clicking the button will direct user to "refresh Firefox" web page (https://support.mozilla.org/en-US/kb/refres

[2015-10-20 12:53] chrmod opened #24 "double window opening"
Reporter: zhonghao-cliqz
Original issue: https://github.com/cliqz/browser-feedback/issues/45

I have cliqz as my default browser on mac, when cliqz is not running and I try to open a url from mail or slack, cliqz will open two windows: one with url I want and second one with empty tab

[2015-10-20 12:59] chrmod opened #25 "Page loading forever"
Original issue: https://github.com/cliqz/browser-feedback/issues/42
Reporter: eleniS

URL: http://www.cultofmac.com/311018/apple-may-take-google-search-engine/

Loads correctly on Firefox.

Version: 39.0
Cliqz 1.0

Another example:
http://www.mactrast.com/2012/07/how-to-use-do-not-disturb-mode-in-the-os-x-mountain-lion-notification-center/

First example loads correctly on a private window.
The se

[2015-10-20 12:59] chrmod commented on #25
@konark-cliqz please take a look on this one

[2015-10-20 13:00] chrmod opened #26 "0.8.1 build print a lot to stdout"
Original issue: https://github.com/cliqz/browser-feedback/issues/41
Reporter: chrmod

it seems that log level is set to DEBUG, we should change it to something less verbose on first production build

[2015-10-20 13:16] chrmod opened #27 "Cliqz still send request to mozilla repair"
Original issue: https://github.com/cliqz/browser-feedback/issues/18
Reporter:  zhonghao-cliqz

https://self-repair.mozilla.org/en-US/repair

[2015-10-20 13:17] chrmod opened #28 "browser sends "Firefox" identificator to web pages (?)"
Original issue: https://github.com/cliqz/browser-feedback/issues/14
Reporter: dominiks-cliqz

Use case: I signed in to Google and received the following Email, stating I used Firefox to sign in.
![68a35dd4-2551-11e5-8d15-a53de5957a3b](https://cloud.githubusercontent.com/assets/1228153/10608089/b7650164-773d-11e5-911e-674ff0937444.png)

[2015-10-20 13:18] chrmod commented on #28
It may be user-agent driven. We need to decide if we want to alter User Agent string

[2015-10-20 13:20] chrmod opened #29 "add CLIQZ settings tab to browser preferences"
Original issue: https://github.com/cliqz/browser-feedback/issues/11
Reporter: dominiks-cliqz

This is the place where (former) Firefox users come to look for settings and preferences: anything that is configurable about CLIQZ should thus be accessible from here.
![c1745bce-254d-11e5-9418-2935525c8b6e](https://cloud.githubusercontent.com/assets/1228153/10608140/fbc68940-773d-11e5-8918-a4b8dc930422.

[2015-10-20 13:23] chrmod opened #30 "Crash report widget says firefox crashed, and sends the report to FF servers."
Original issue: https://github.com/cliqz/browser-feedback/issues/4
Reporter: konark-cliqz

Screenshot :
<img width="412" alt="4b14263e-24f9-11e5-95ea-11b6580c0c37" src="https://cloud.githubusercontent.com/assets/1228153/10608236/7113311c-773e-11e5-812c-c8b0cc345e81.png">
How to reproduce :

    ps -ef | grep Cliqz
    kill -ABRT process_id
    submit_report

[2015-10-20 17:31] richard-cliqz commented on #20
Change wording here and in BROWSER OPTIONS --> SEARCH: "Default search engine" to "Complementary search engine" / "Ergänzende Suchmaschine"

[2015-10-20 17:32] richard-cliqz opened #31 "Safe browsing (google hook)"
API doc: https://developers.google.com/safe-browsing/

From

    browser/app/profile/firefox.js

:

    978:pref("browser.safebrowsing.updateURL", "https://safebrowsing.google.com/safebrowsing/downloads?client=SAFEBROWSING_ID&appver=%VERSION%&pver=2.2&key=%GOOGLE_API_KEY%");
    989:pref("browser.safebrowsing.appRepURL", "https://sb-ssl.google.com/safebrowsing/clientreport/download?key=%GOOGLE_API

[2015-10-20 17:33] richard-cliqz commented on #31
From what I understand, Google Safe Browsing APIv3 is safe to use as it does not share any data with the server about visited websites.
Firefox does not use lookup API that sends urls to google.

Anyways to use Safe Browsing API we need to provide GOOGLE_API_KEY

[2015-10-20 17:33] richard-cliqz opened #32 "Researched secure Balrog"

[2015-10-20 17:35] richard-cliqz opened #33 "Onboarding - First time experience"
We want users to have best first time experience with CLIQZ browser. Also we probably want them to think it is not Firefox.

    Those are some prefs that we can set:

    // Don't show 'know your rights' on first run
    pref("browser.rights.3.shown", true);

    // Don't show WhatsNew on first run after every update
    pref("browser.startup.homepage_override.mstone","ignore");

[2015-10-20 17:36] richard-cliqz opened #34 "Documentation of Balrog update"
Krzysztof added a comment - 30/Jul/15 11:04 AM

To make the documentation, we must first identify core scenariors in which we will ship new release.

The obiouse ones are:

    new firefox release
    critical bugfix
    important feature update (or l10n, legal stuff, etc)

Can we think about something else?

[2015-10-20 17:38] richard-cliqz opened #35 "Create browser notes page"
// A default value for the "More information about this update" link
// supplied in the "An update is available" page of the update wizard.
pref("app.update.url.details", "https://www.cliqz.com/%LOCALE%/browser/notes");

[2015-10-20 17:38] richard-cliqz opened #36 "System to push snippets to about:home"
// url used for fetching snippets on about:home
    pref("browser.aboutHomeSnippets.updateUrl", 'https://www.cliqz.com/');

    check aboutHomejs and aboutHome.xhtml

    check screenshot !

[2015-10-20 17:39] richard-cliqz opened #37 "Investigate build options differences"
while taking a look at about:buildconfig, you can identify some differences between our build and regular mozila one.

    Some of them:
    gcc: -ffunction-sections -fdata-sections

    configure arguments (on linux):

        --host=x86_64-linux-gnu
        --prefix=/usr
        --libexecdir=/usr/lib/firefox
        -with-l10n-base=/build/firefox_mU0NB/firefox-39.0+build5/./l10n
        -srcdir=

[2015-10-20 17:40] richard-cliqz opened #38 "make sure cliqz@cliqz.com cannot be disabled by Mozilla blocklist"
after browser starts it calls a blocklist url
https://blocklist.addons.mozilla.org/blocklist/3/%7Bec8030f7-c20a-464f-9b0e-13a3a9e97384%7D/40.0/Firefox/20150807085045/WINNT_x86-msvc/es-ES/release/Windows_NT%206.2/default/default/2/15/3/

[2015-10-20 17:42] richard-cliqz opened #39 "Remove the tab "Appearance" tab in the add-ons menu"
CLIQZ features an all new browser theme for the CLIQZ browser.

[2015-10-20 18:05] richard-cliqz opened #40 "Remove the "learn more" link when opening a new private window"

[2015-10-20 18:14] richard-cliqz opened #41 "The " # " shortcuts do not work"
Do not work with cliqz browser 0.8.1, based on FF41
Windows 10, 64bit

Put the hotkeys in front of your query to directly use a search engine, e.g. to find a specific location directly, type in #gm + your query and hit enter
Find the full list in browser options --> search

[2015-10-20 18:15] richard-cliqz opened #42 "crash reporter backend"
investigate crash reporter backend and eventually implement or disable

[2015-10-20 18:18] richard-cliqz opened #43 "top/burger menu --> addons: add a hint that cliqz browser users add-ons of the official Mozilla store"
CLIQZ uses add-ons of the official Mozilla repository - add a hint about that in about:addons --> get extensions

(English) „CLIQZ uses add-ons of the official Mozilla Firefox repository“

(German) „CLIQZ nutzt Add-ons aus dem offiziellen Mozilla Firefox Verzeichnis“

[2015-10-20 18:20] richard-cliqz opened #44 "In top/ burger menu: Add the "Tipps and tricks" / "Tipps und Tricks" (DE) to the list of pre-set bookmarks"
should lead to https://cliqz.com/home/cliqz-triqz (English/German dependent on Browser version)

[2015-10-20 18:21] richard-cliqz opened #45 "In top/ burger menu --> help/"questionmark": Add the "CLIQZ tour" linkto re-view the CLIQZ onboarding tour"
should lead to chrome://cliqz/content/onboarding/onboarding.html (english version for english browser, German alike)

[2015-10-20 18:22] richard-cliqz opened #46 "Browser options: All settings for CLIQZ's proprietary features to be included in the browser options"
Changes

A) From Q-Menu: Feedback & FAQ to be an own top-level preferences entry named "Support" (EN) / "Hilfe" (DE) featuring 2 things:

1) "Support and contact" / „Hilfe und Kontakt“ (former Feedback and FAQ)
(English) „Nadine from CLIQZ User Support is happy to help you. Get in touch with her!“ (link should have the functionality of the current Q-Menu entry, english version)
(German) „Nadine is

[2015-10-20 18:23] richard-cliqz opened #47 "Add feature that enables a user to mark text on any website and directly search the web for the marked text with CLIQZ using the right-click context menu"

[2015-10-20 18:24] richard-cliqz opened #48 "Add a mechanism for AdBlock Plus users that automatically disables the AdBlocker when visiting BILD.de as long as BILD.de prevents AdBlock Plus users to see its content"
Flow for users (must have AdBlock Plus installed)

1) user navigates to Bild.de
2) a callout appears, asking the user whether we should de-activate AdBlock Plus while she is on bild.de, with options (i.e. 3 buttons) “always”, “always ask”, “no”
3) user sees bild.de content without barrier
4) going to another domain AdBlock Plus works normally
5) we add one additional entry to the Q-Menu in order t

[2015-10-20 18:27] richard-cliqz opened #49 "Change wording in BROWSER OPTIONS --> SEARCH: "Default search engine" to "Complementary search engine" / "Ergänzende Suchmaschine""

[2015-10-20 18:28] richard-cliqz opened #50 "Options --> Search: Restore default search engines does not work"
tested with cliqz 0.8.1, based on Ff41
Win10, 64 bit

[2015-10-20 18:30] richard-cliqz opened #51 "Options --> search: Replace “location bar” with "search bar" / German: "Adressleiste""

[2015-10-20 18:32] richard-cliqz opened #52 "About:license - Link <cliqz/CLIQZfox> does not work"
Now is set with https://github.com/cliqz/CLIQZfor,
what is the right link to use?

[2015-10-20 18:44] richard-cliqz opened #53 "Burger Menu --> questionmark: links "Feedback & FAQ" and "CLIQZ Triqz" do not work"

[2015-10-20 18:47] richard-cliqz opened #54 "Burger Menu --> questionmark AND top menu --> help: change wordings"
"Feedback & FAQ" to "Support and contact" / „Hilfe und Kontakt“
CLIQZ Triqz to "Tipps and tricks" / "Tipps und Tricks"

[2015-10-21 07:57] sam-cliqz opened #55 "Browser publisher unknown on Windows"
Windows 8.1 Pro. Cliqz 41.0 en-US downloaded from cliqz.com.

![cliqz unknown pub](https://cloud.githubusercontent.com/assets/13136623/10630831/00978a54-77da-11e5-93f2-4643fbdb5c69.png)

@chrmod

[2015-10-21 07:57] luciancor commented on #30
messaging fixed

[2015-10-21 07:57] #30 closed

[2015-10-22 07:29] richard-cliqz opened #56 "download from cliqz.com missleading message with typo + opens 3 tabs by default - middle one empty"
fresh profile, install from cliqz com: 3 tabs opened by default, middle one empty, typos in message at browser window bottom CLQZ for Firefox, plus the message is misleading in the context as I, as a user download the cliqz browser

![capture](https://cloud.githubusercontent.com/assets/6839735/10659325/49284446-789f-11e5-9a3e-f861876db6f8.PNG)

[2015-10-22 13:38] chrmod commented on #55
that's a know bug of current build, will be fixed very soon

[2015-10-22 13:40] chrmod commented on #54
there was a recent change in the extension. Need to verify if it works in the browser

https://github.com/cliqz/navigation-extension/pull/1225

[2015-10-22 13:44] chrmod commented on #48
done in extension already - just update the extension version

[2015-10-22 13:48] chrmod commented on #43
we had it already with 0.8, so it must get lost with upgrade to Firefox 41

[2015-10-22 13:50] chrmod commented on #41
it is extension driven feature which got probably fixed with recent update

[2015-10-22 13:50] #41 closed

[2015-10-22 13:52] chrmod commented on #39
the way we do theming breaks other themes so we should prevent users from installing custom themes

[2015-10-22 13:53] chrmod commented on #38
@luciancor you know anything about blocklist?

[2015-10-22 13:54] chrmod commented on #36
about:home got replaced with about:cliqz

[2015-10-22 13:54] #36 closed

[2015-10-22 13:55] chrmod commented on #35
thats solely related to CLIQZ marketing activities and thus not be a part of this repository

[2015-10-22 13:55] #35 closed

[2015-10-22 13:57] chrmod commented on #32
update infrastructure stays on CLIQZ side, it is not a part of the browser

[2015-10-22 13:57] #32 closed

[2015-10-22 13:57] chrmod commented on #31
it is enabled by now via google api key used for geo location services. Need to verify though

[2015-10-22 14:00] chrmod commented on #25
@konark-cliqz ping

[2015-10-22 14:04] chrmod commented on #20
duplicate of https://github.com/cliqz-oss/browser-f/issues/54

[2015-10-22 14:04] #20 closed

[2015-10-22 14:06] chrmod commented on #18
duplicate of: https://github.com/cliqz-oss/browser-f/issues/28

[2015-10-22 14:06] #18 closed

[2015-10-22 14:07] chrmod commented on #16
that's firefox issue, report to mozilla please :-)

[2015-10-22 14:07] #16 closed

[2015-10-22 14:08] chrmod commented on #15
duplicate of: https://github.com/cliqz-oss/browser-f/issues/28

[2015-10-22 14:08] #15 closed

[2015-10-22 14:08] chrmod commented on #28
additional info: https://github.com/cliqz-oss/browser-f/issues/15#issue-110993017

[2015-10-22 14:09] chrmod commented on #11
waits for Valeria

[2015-10-22 14:09] chrmod commented on #9
done

[2015-10-22 14:09] #9 closed

[2015-10-22 14:10] chrmod commented on #4
That how Firefox installer works. We don't want to invest in it ATM

[2015-10-22 14:10] #4 closed

[2015-10-26 08:50] chrmod commented on #55
fixed by: https://github.com/cliqz-oss/browser-f/commit/37b972be432f81f016477acaa52dbd4fc602a2d7

had to move tag towards.

[2015-10-26 08:50] #55 closed

[2015-10-26 09:59] chrmod commented on #31
it seems it works. Use this URL as a test http://itisatrap.org/firefox/its-a-trap.html

[2015-10-26 09:59] #31 closed

[2015-10-27 10:37] #40 closed

[2015-10-27 10:37] #52 closed

[2015-10-27 10:37] #53 closed

[2015-10-27 10:37] #54 closed

[2015-10-27 13:20] artem-cliqz opened #58 "Paste long url and press enter, url out of the box"
Recipe to reproduce:
![long_url_issue1](https://cloud.githubusercontent.com/assets/13622775/10759099/b7b72ad4-7cb5-11e5-8888-14f77fe746d7.gif)

[2015-10-27 17:30] richard-cliqz opened #59 "Updater shows FF version numbering and not ours"
should say CLIQZ 0.8.2, in this case.
![updater](https://cloud.githubusercontent.com/assets/6839735/10766672/d70de67a-7cd8-11e5-8060-11707ae0526f.png)

MacOS

[2015-10-27 17:31] richard-cliqz commented on #59
@chrmod possible for 0.8.2?

[2015-10-28 08:01] luciancor commented on #38
@chrmod @richard-cliqz firefox maintains a list of blacklisted addons. As long as cliqz is not there I think we should keep this link in place. We should make sure that cliqz@cliqz.com cannot be disabled in general

[2015-10-28 08:03] luciancor commented on #25
@chrmod these types of problems are usually related with the user profile. Firefox caches some urls in some redirects and this can cause infinite loops. @eleniS can you please load that url in a private window in the CLIQZ browser?

[2015-10-28 09:04] konark-cliqz commented on #25
@luciancor @chrmod : I was only able to replicate the second URL, and that too in firefox, where it looks it is loading forever.

I want to debug this a bit in detail, so as to see that this is not because of Anti-tracking. As I partially saw different behaviour with and without our anti-tracking.

[2015-10-29 11:05] #48 closed

[2015-10-29 13:42] chrmod commented on #45
changes covered by extension

[2015-10-29 13:44] chrmod commented on #44
changes covered by extension

[2015-10-29 13:44] #44 closed

[2015-10-29 15:18] nadine-cliqz opened #60 "Dashlane"
@luciancor A user told us that if you install  https://www.dashlane.com/firefox-install
it with CLIQZ. The installation is possible out but the programm does not do the job.

[2015-10-29 15:47] #39 closed

[2015-10-29 15:47] #43 closed

[2015-10-29 15:47] #21 closed

[2015-10-29 15:47] #42 closed

[2015-10-29 16:11] chrmod commented on #38
Moving to backlog as it is not clear how or if we should go this way.

[2015-11-05 17:54] richard-cliqz commented on #48
Observation by Roberto (WIN 7, 8.1)
@luciancor
1) there is no message on the top of the page, asking if CLIQZ should bypass the bild.de barrier
2) the yellow message appears only for a second and there’s not enough time to click on it

[2015-11-05 17:56] richard-cliqz commented on #45
still missing in 0.8.2 (all OS)

[2015-11-05 17:56] richard-cliqz commented on #44
still missing in 0.8.2
(all OS)

[2015-11-05 18:04] richard-cliqz opened #64 "Mac OS: remove the FF version number and replace with Cliqz version number"
in applications --> Cliqz detail view
in notifier to update
![updater](https://cloud.githubusercontent.com/assets/6839735/10977199/01207ae0-83f0-11e5-8226-7964c06caee4.png)
![version_reg_mac](https://cloud.githubusercontent.com/assets/6839735/10977198/011f49f4-83f0-11e5-8aee-2ea701b7c4e9.png)

[2015-11-05 18:04] richard-cliqz commented on #64
milestone: 0.8.3

[2015-11-05 18:05] richard-cliqz opened #65 "WindowsOS: Please remove the FF version number in the list of installed software, and replace with Cliqz version number"
![win_reg](https://cloud.githubusercontent.com/assets/6839735/10977230/2cb0ca84-83f0-11e5-99bc-6abb8403be5d.jpg)

[2015-11-05 18:05] richard-cliqz commented on #65
milestone 0.8.3

[2015-11-05 18:06] richard-cliqz opened #66 "Remove the FF version number in “about:Cliqz”"
![capture](https://cloud.githubusercontent.com/assets/6839735/10977276/5d03504e-83f0-11e5-94be-1ab9c4a6bc8c.PNG)

[2015-11-05 18:07] richard-cliqz commented on #66
milestone 0.8.3

[2015-11-05 18:08] richard-cliqz opened #67 "Options --> Search: Remove the button “Standardsuchmaschinen wiederherstellen” / “Restore default search engines”; We do not really need it, and it does not work properly"
it is a bug, so milestone 0.8.2
![restore_search](https://cloud.githubusercontent.com/assets/6839735/10977303/885b4418-83f0-11e5-9775-fef9bb9d4120.jpg)

[2015-11-05 18:09] richard-cliqz opened #68 "Options --> Search: Change text “Standardsuchmaschine”/”Default Search Engine” to “Ergänzende Suchmaschine” / “Complementary search engine”"
if quick: milestone 0.8.2, to stay consistent with q-menu
![comp_search](https://cloud.githubusercontent.com/assets/6839735/10977319/ae8766c6-83f0-11e5-9016-6553122a5cd2.jpg)

[2015-11-05 18:15] richard-cliqz opened #69 "Loyalty program is missing in 0.8.2"
Bug
AFAIK due to old extension version in 0.8.2

[2015-11-05 18:18] richard-cliqz commented on #59
duplicate to #64

[2015-11-05 18:18] #59 closed

[2015-11-06 08:10] luciancor commented on #48
@richard-cliqz it should be fixed in the next build of the browser. The version of extension was outdated in the old build

[2015-11-06 10:09] #45 closed

[2015-11-06 10:11] luciancor commented on #44
@richard-cliqz can you please update your extension to from https://cliqz.com/latestbeta and check again?

[2015-11-06 10:26] luciancor commented on #67
fixed

[2015-11-06 10:26] #67 closed

[2015-11-06 10:27] #68 closed

[2015-11-06 10:27] luciancor commented on #69
true - the latest 0.8.2 will have it from the beginning

[2015-11-06 10:27] #69 closed

[2015-11-11 09:32] artem-cliqz opened #72 "CTRL + Z to reopen recently closed tab?"
Please consider having CTRL + Z to reopen recently closed tab.

CTRL + SHIFT + T works, but it's too much to remember for a user. I really like Safari's behaviour of doing it on CTRL + Z. It feels very intuitive to *undo* whatever I've done, including closing a tab.

[2015-11-13 07:49] artem-cliqz opened #73 "Disable history in private browsing mode"
Quite confusing to see one's history suggestions when using private browsing mode.

[2015-11-13 13:36] sean-cliqz opened #74 "Bad link on about:license"
The link for the github repository is wrong on the about:license page. It is ends in CLIQZfor, nor CLIQZfox - see screenshot.

![screen shot 2015-11-12 at 17 01 01](https://cloud.githubusercontent.com/assets/6603366/11147078/c243fcc8-8a13-11e5-9f1a-3add59ce37be.png)

[2015-11-13 13:41] sean-cliqz commented on #73
Most (maybe all) major browsers do this. I just tested Firefox, Chrome, and Safari and all show history and bookmarks in the dropdown when in a private window.

However, you are not the first to mention this. Perhaps there is room to rethink what "private" mode means to bring it more in line with what users might expect. We should keep this in mind as we experiment with what it means to be a priva

[2015-11-13 13:47] sean-cliqz commented on #74
This was in 0.8.1. It is fixed in 0.8.2, closing.

[2015-11-13 13:47] #74 closed

[2015-11-13 13:48] konark-cliqz commented on #73
@artem-cliqz @sean-cliqz : IMO what is also important is that none of them should save the history of what you browsed in the private mode, which looks like the case..

 Excerpt from Mozilla docs about private browsing : "Private Browsing allows you to browse the Internet without saving any information about which sites and pages you’ve visited."

[2015-11-17 08:56] richard-cliqz commented on #73
Thank you for your comments.
I am closing this one for now, following @sean-cliqz 's and @konark-cliqz 's comments.

[2015-11-17 08:56] #73 closed

[2015-11-17 09:06] richard-cliqz commented on #56
3 tabs opened is correct -
1) cliqz homepage cliqz.com
2) about:home
3) cliqz onboarding tour

Issue was empty tab 2 - fixed.

[2015-11-17 09:06] #56 closed

[2015-11-17 09:06] richard-cliqz commented on #49
fixed in 0.8.2

[2015-11-17 09:06] #49 closed

[2015-11-17 09:10] richard-cliqz commented on #29
see #46 for more detailed specifications, closing this one.

[2015-11-17 09:10] #29 closed

[2015-11-17 09:11] richard-cliqz commented on #51
changed in 0.8-2

[2015-11-17 09:11] #51 closed

[2015-11-17 09:12] richard-cliqz commented on #50
removed in 0.8.2 - CLIQZ can work with a set of complementary search engines

[2015-11-17 09:12] #50 closed

[2015-11-17 10:47] sean-cliqz commented on #56
@richard-cliqz Could you explain why opening 3 tabs is correct? Would it not be better to show one to focus the user's attention?

[2015-12-01 17:01] sean-cliqz opened #75 "Setting as default browser not easy in Win 10, Chrome does it better"
When installing the CLIQZ browser on Windows 10, I first get this dialog:
![2015-11-30 14 22 02](https://cloud.githubusercontent.com/assets/6603366/11507597/0dcc847c-9855-11e5-8d3e-1c2d6928740c.jpg)

When clicking 'Use CLIQZ as my default browser', it loads this settings page for setting the default app for several different kinds of apps:
![2015-11-30 14 21 50](https://cloud.githubusercontent.com

[2015-12-01 17:04] sean-cliqz opened #76 "Home page is not set properly after installing browser over old version"
When installing CLIQZ browser over a previous (beta version), the home page is not correct. Resulting in this empty page at startup:
![2015-11-30 16 53 58](https://cloud.githubusercontent.com/assets/6603366/11507746/bb53b188-9855-11e5-9b1b-7f221c1549da.jpg)

[2015-12-02 16:37] sean-cliqz opened #77 "Anonymous data collect says "CLIQZ for Firefox""
When first installing the browser, the following notice is displayed at the bottom on the screen. At the very least, it should not say CLIQZ for Firefox but we should also consider if it is necessary to have the notice at all in the browser.

![screen shot 2015-12-02 at 13 23 04](https://cloud.githubusercontent.com/assets/6603366/11536965/22f5bea6-991b-11e5-99a1-069a37b4629f.png)

[2015-12-04 12:04] richard-cliqz opened #78 "Browser does not come with the latest version of CLIQZ Search"
Installed 0.8.2 on Dec 4 2015, had to manually update to get the latest version of CLIQZ Search

[2015-12-06 22:00] konark-cliqz opened #79 "Buildconfig should not mention user folder name !"
Currently if you do ```about:buildconfig``` in Cliqzbrowser, the ```--configure arguments``` section has the flag  ```--with-google-api-keyfile=/Users/chrmod/jenkins/workspace/cfoxenmac/cfoxenmac/mozilla-release ```. IMO it should not mention /Users/{userName} but something more generic.

Screenshot attached:
<img width="1159" alt="screen shot 2015-12-06 at 23 01 01" src="https://cloud.githubuserc

[2015-12-06 22:08] konark-cliqz opened #80 "Update history and change log discrepancy"
I feel there is lot of discrepancy in the update history shown in Cliqz-browser and the change log that opens after clicking on details button.

1. For instance, the last update is Cliqz 41.0 security-update. Clicking on details takes to the ```https://cliqz.com/en/products/browser-changelog``` , where there is no change-log w.r.t 41.0 and none of the change logs mention any security update.

2. I

[2015-12-07 15:45] chrmod commented on #78
we fix the version of the extension to make sure the UX is consistent for all installations

[2015-12-07 15:45] #78 closed

[2015-12-07 15:48] chrmod commented on #76
can we verify this one please @roberto-cliqz

[2015-12-07 15:52] chrmod commented on #72
no go because of windows. Imagine CTRL+Z to open closed tab..

[2015-12-07 15:52] #72 closed

[2015-12-07 16:02] chrmod commented on #33
@sean-cliqz please put onboarding related details on this issue

[2015-12-07 16:03] chrmod commented on #28
We should keep Firefox original User-agent

[2015-12-07 16:03] #28 closed

[2015-12-07 16:06] chrmod commented on #17
Alternative solution was implemented

[2015-12-07 16:06] #17 closed

[2015-12-17 13:21] stefanie-cliqz opened #81 "Users can choose a start page"
Allow user to choose any website as a start page.
Where: Settings menu > Preferences > General

Note: we are aware of potential risks associated with this feature. We will start "open", learn more about the risks and then improve based on our learnings.

[2015-12-17 13:26] stefanie-cliqz opened #82 "User can choose between multiple browser start options"
The Cliqz browser currently opens the CLIQZ Start Page and additionally the tabs from the last session.

We would like to add more options in:

1. Show CLIQZ Start Page
2. Show CLIQZ Start Page and windows and tabs from last session
3. Show blank page

Re: point 2 - this will open CLIQZ Start Page on first tab (start page) and websites from last session on the following tabs. See current behavior

[2015-12-18 16:19] alver-cliqz opened #84 "Merge with FF 43"

[2015-12-22 09:29] stefanie-cliqz opened #85 "On uninstall, change link to offboarding web page on cliqz.com"
When a user uninstalls the CLIQZ for Firefox add-on, they are directed to an offboarding web page on cliqz.com. The link currently directs German speaking users to the English page and therefore needs to be changed.

Correct link: *https://cliqz.com/home/offboarding*

(English version of page: https://cliqz.com/en/home/offboarding)

[2015-12-22 13:57] alver-cliqz opened #86 "Shift + Home doesn't work in address bar"
Win8. Cliqz 0.8.2 (32 bit). If put cursor in the end of address bar and press Shift + Home text will not selected.

[2015-12-22 18:11] maxim-cliqz commented on #64
Version number in notification message comes from server XML in `updates/update@displayVersion`

[2015-12-23 10:50] luciancor opened #88 "CLIQZ extension in FF43+"
Investigate how we could sign the extension ourselves and still keep the system safe.

[2015-12-23 13:33] #5 closed

[2015-12-23 13:33] #6 closed

[2015-12-23 14:01] stefanie-cliqz opened #90 "Launch 0.9 Update"
- related to https://github.com/cliqz-oss/browser-f/issues/64 and https://github.com/cliqz-oss/browser-f/issues/65

[2015-12-23 16:44] stefanie-cliqz commented on #81
Discussed with @richard-cliqz, see description above. Please implement.

[2015-12-24 11:04] alver-cliqz commented on #84
https://github.com/cliqz-oss/browser-f/pull/89

[2015-12-24 11:05] alver-cliqz commented on #66
PR https://github.com/cliqz-oss/browser-f/pull/91

[2015-12-28 09:53] chrmod opened #92 "Silverlight plugin"
Netflix and other popular websites require Silverlight plugin to play videos on windows browser.

We should investigate what are the possibilities to bundle it with CLIQZ browser.

@alver-cliqz @maxim-cliqz do you have any experience with it?

[2015-12-28 12:01] alver-cliqz commented on #92
Not yet. As i see - this is usual NPAPI plugin. Installer is 6 Mb for 32-bit system and 12 Mb for 64-bit. Files are installed into c:\Program Files\Microsoft Silverlight\ and c:\Program Files (x86)\Microsoft Silverlight\ (on 64-bit system), installer needs admin rights to do this. After install process complete, user get a lot of files + some kind of autoupdate system, so looks like it better to d

[2015-12-28 12:30] stefanie-cliqz commented on #33
Update: The UX team created an onboarding concept that is being implemented by Panagiota. For internal reference see https://cliqztix.atlassian.net/browse/DBBD-58

[2015-12-28 14:05] stefanie-cliqz opened #93 "Inspection Settings Broken within CLIQZ Browser"
Hindering our ability to troubleshoot internally :/
https://cloud.githubusercontent.com/assets/7079226/9628353/8eb02120-516a-11e5-8ee0-12ddc18e58f8.png

experienced by @elyse-cliqz and @dominiks-cliqz, see https://github.com/cliqz/bug-tracker/issues/775

[2015-12-28 14:14] stefanie-cliqz opened #94 "Check if Browser Logo is still hidden after installation"
Reported by @thuy-cliqz on Aug. 31 on https://github.com/cliqz/bug-tracker/issues/771:

"My logo was not on the desktop after installation.
IMO, this can lead to not using the browser for most users encounting the same behaviour of the logo.
Bottom line: we need to make sure the logo is added to the frequently-used area on the device.
Experienced on Mac."

[2015-12-28 15:17] chrmod commented on #92
It seems we that we cannot distribute Silverlight with our application bundle due to its license constraints on publishing: http://www.microsoft.com/getsilverlight/get-started/install/license-win.aspx

Other then installing Silverlight during CLIQZ installation we can detect if it is needed and help user to install it - note that it requires super user privileges.

[2015-12-28 15:31] chrmod commented on #58
seems to work well with new theme.

[2015-12-28 15:31] #58 closed

[2015-12-28 15:31] chrmod commented on #81
@maxim-cliqz can you take care of it along with https://github.com/cliqz-oss/browser-f/issues/82

[2015-12-28 15:46] maxim-cliqz opened #95 "Refactor cliqz.cfg"
Move css rules to a more appropriate location.

[2015-12-28 16:09] chrmod commented on #95
ATM autoconfig is a proper place to keep "those" CSS rules. In future we may want to move into better place.

Also it should not be a part of 0.9

[2015-12-28 16:13] chrmod commented on #93
looks like translation issue that was solved quite some time ago.

[2015-12-28 16:16] maxim-cliqz commented on #95
@chrmod problem is #82 slightly depends on it. And I'm into it already anyway.

[2015-12-28 16:23] chrmod commented on #95
@maxim-cliqz Please submit a WIP PR so we can discuss common approach for this issue.

[2015-12-28 16:25] maxim-cliqz commented on #95
done https://github.com/cliqz-oss/browser-f/pull/96

[2015-12-28 16:32] stefanie-cliqz commented on #93
@roberto-cliqz would you please try to reproduce and confirm it's still an issue? Thanks!

[2015-12-28 16:32] stefanie-cliqz commented on #94
@roberto-cliqz would you please try to reproduce and confirm it's still an issue? Thanks!

[2015-12-29 07:51] stefanie-cliqz commented on #82
As discussed and agreed on, solution is to add 2 checkboxes: "show CLIQZ start page" (checked by default) and "restore previous session" (not checked by default).

[2015-12-29 15:00] alver-cliqz commented on #90
Need to replace version in repack\distribution\distribution.ini and mozilla-release\browser\config\version_display.txt to 0.9

[2015-12-29 15:04] alver-cliqz commented on #65
https://github.com/cliqz-oss/browser-f/pull/97

[2015-12-30 09:59] maxim-cliqz opened #98 "Refactor magic build script"
Move actions to Mozilla build system and leave only automation and configuration tasks in the script for use on CI machines.

[2015-12-30 10:10] maxim-cliqz opened #99 "Compilation error if build with 10.11 SDK: cannot initialize a variable of type 'const CGEventField' with an rvalue of type 'int'"
https://bugzilla.mozilla.org/show_bug.cgi?id=1187613

[2015-12-30 10:13] maxim-cliqz commented on #81
Yep

[2015-12-30 11:06] chrmod opened #101 "Upstream "disable sync""
https://github.com/cliqz-oss/browser-f/pull/96

[2015-12-30 14:09] #95 closed

[2015-12-30 14:09] #99 closed

[2015-12-30 14:10] maxim-cliqz commented on #90
Set version to 0.9 in `update.xml` on server

[2015-12-30 14:10] #64 closed

[2015-12-30 16:16] #77 closed

[2015-12-30 16:35] alver-cliqz commented on #84
PR https://github.com/cliqz-oss/browser-f/pull/104

[2015-12-31 15:35] maxim-cliqz commented on #88
Signature verification is done in `toolkit/mozapps/extensions/internal/XPIProvider.jsm`, by using functions from `nsIX509CertDB` (`openSignedAppFileAsync`, `verifySignedDirectoryAsync`, ...).
Those functions accept certificate root ID to check the signature against. From what I've seen, two may be used: `AddonsPublicRoot` and `AddonsStageRoot`.
Seems, we should be done by putting our certificate t

[2016-01-04 12:12] #84 closed

[2016-01-04 12:13] #66 closed

[2016-01-04 12:17] alver-cliqz opened #106 "Mozilla Maintenance Service"
As i see on Windows we are installing "Mozilla Maintenance Service" as part of our product. And as i know - this is part of original Mozilla FF. Need to check, may be we need to change this service to our own.

[2016-01-04 12:29] #65 closed

[2016-01-04 12:54] maxim-cliqz commented on #88
Those two certificates are located in `security/apps/` directory and are named `addons-public.crt` and `addons-stage.crt` respectively.

[2016-01-04 12:58] maxim-cliqz commented on #82
Done

[2016-01-04 12:58] maxim-cliqz commented on #81
Done

[2016-01-04 12:58] #81 closed

[2016-01-04 13:25] chrmod commented on #90
0.9 beta release started

[2016-01-04 14:11] alver-cliqz commented on #27
Good&bad news.

Good. Looks like all url are placed in one place - mozilla-release\browser\app\profile\firefox.js. This self-repair url exist in it file too.

Bad. In this file tons of different urls. Some of them are self-described, but here a lot of urls to some FF services, and we need some time to understand what we need and must replace, what we don't need at all and which part we don't care

[2016-01-04 14:51] chrmod commented on #27
alright, closing this one for now. What we need to do to is to investigate more and decide on what our focus should be

[2016-01-04 14:51] #27 closed

[2016-01-04 15:54] chrmod commented on #85
it's fixed in current version of extension

[2016-01-04 15:54] #85 closed

[2016-01-04 16:03] alver-cliqz commented on #27
Some information (start point for future researchers generation) in wiki: https://cliqztix.atlassian.net/wiki/pages/viewpage.action?pageId=15892498. Or ask me

[2016-01-04 16:03] luciancor commented on #88
@maxim-cliqz came across an interesting link today - http://olympia.readthedocs.org/en/latest/topics/api/signing.html - maybe it helps for this task :)

[2016-01-04 16:15] chrmod commented on #76
verified towards 0.9 beta - problem no longer exist

[2016-01-04 16:15] #76 closed

[2016-01-05 13:22] maxim-cliqz commented on #88
Hmmm, seems it's about signing with Mozilla's certificate.
Several years ago at Yandex I was using a ruby script to sign addon. Unfortunately I completely forgot where I took it. But it definitely was somewhere on the Internet.

[2016-01-05 14:53] alver-cliqz commented on #75
Comments from Chromium source code about how to do a "trick" with default browser:
// On Windows 10+, there is no official way to prompt the user to set a
 // default browser. This is the workaround:
 // 1. Unregister the default browser.
 // 2. Open "How to make Chrome my default browser" link with openwith.exe.
 // 3. Windows will prompt the user with "How would you like to open this?".
 // 4. I

[2016-01-05 14:58] alver-cliqz commented on #75
Chromium commit with this fix: https://chromium.googlesource.com/chromium/src.git/+/f89ac7c739d5b0ba039af8cabac76a74ff3b2b54

[2016-01-05 15:54] alver-cliqz commented on #75
Similar fix in FF https://bugzilla.mozilla.org/show_bug.cgi?id=1172724
Must work since F 41, but doesn't work

[2016-01-05 17:10] alver-cliqz commented on #75
Research result:
1. Firefox create patch to set default browser in Win10 as Sean suggest (and Chrome doing now) in the middle of June. This is was a patch (https://bugzilla.mozilla.org/show_bug.cgi?id=1172724,) to 41-th version, and FF team decide to do A/B test in version 40.0.1 (https://bugzilla.mozilla.org/show_bug.cgi?id=1172724#c14)
2. After A/B test (?) they decide to use previous solution w

[2016-01-07 09:58] #86 closed

[2016-01-07 12:26] maxim-cliqz commented on #88
Found the script. Here it is: https://adblockplus.org/blog/signing-firefox-extensions-with-python-and-m2crypto
There's also another solution, which uses signtool from Mozilla's nss library: https://www.mozdevgroup.com/docs/pete/Signing-an-XPI.html

[2016-01-08 09:22] luciancor commented on #88
@maxim-cliqz

"Valid add-on signing certificates must be issued from a Mozilla master certificate"* so it seems that we need to create a certificate for each extension from a master certificate. This fill fix the "aCert.commonName" issue.

* https://docs.google.com/document/d/1KhpDteoHFmVRkzlrT8v0N3F-KrPxLoZFM3mWmEmOses/edit#heading=h.31365qykqlul

[2016-01-08 09:24] luciancor commented on #88
"There are several ways to install add-ons from the local machine such as bundled with the install directory or through the windows registry. None of these locations or mechanisms will change except for the new requirement that the .xpi archives be signed with a Mozilla-issued certificate **containing a matching add-on ID.**"

[2016-01-08 10:32] maxim-cliqz commented on #88
Mozilla uses this algorithm to sign XPIs: http://lia.deis.unibo.it/Misc/SW/Java/java1.7/technotes/tools/solaris/jarsigner.html
Their only seeming difference is that .SF file must contain only one entry (except "Signature-Version"): "SHA1-Digest-Manifest", which holds SHA1 digest of the .MF file in Base64 encoding.

[2016-01-08 15:51] luciancor opened #108 "Create multiple builds for distribution"
we need to create multiple builds which we could track for distribution. The extension should read each build ID and send this information though our telemetry

[2016-01-08 15:52] maxim-cliqz commented on #88
Good manual about running an own CA: https://jamielinux.com/docs/openssl-certificate-authority/index.html

[2016-01-08 16:34] stefanie-cliqz commented on #75
Will set up support page for this matter on cliqz.com/support next week. (content of page see: https://support.mozilla.org/en-US/kb/how-change-your-default-browser-windows-10

[2016-01-08 17:19] alver-cliqz commented on #75
Some information about how this work. "Open as" dialog use protocol handlers (they are store in registry). It define which application to use to process protocol or file extensions). For browser it means which one of installed in system will open an http or https.

So, to change this handler we use "Open As" dialog with https parameters. This action will show a next dialog window:
![openas](https:

[2016-01-11 08:29] alver-cliqz commented on #75
https://github.com/cliqz-oss/browser-f/pull/107

[2016-01-11 09:55] #33 closed

[2016-01-11 11:11] roberto-cliqz commented on #93
I tried to reproduce the bug, but everything worked fine. IMO it's not an issue anymore.

[2016-01-12 08:17] stefanie-cliqz commented on #93
Great, thanks, Roberto. Closing this issue.

[2016-01-12 08:17] #93 closed

[2016-01-12 10:57] stefanie-cliqz opened #111 "Browser crashes"
Users have reported that their CLIQZ browser crashed. This ticket will collect all information we receive.

1. Reported by @ilaria-cliqz:

"If I try to open this link: http://nationalesuisse.nsp-reports.ch/13/Finanzbericht/files/assets/basic-html/page24.html Cliqz crashes and I have to force the quit.

This webpage works fine on Chrome (a bit slow actually, but not crash)."

I (Stefanie) could rep

[2016-01-12 13:46] roberto-cliqz commented on #94
After installation the user is asked to drag CLIQZ browser in the application folder as usual. Keeping the logo in the dock, in a frequently-used area on the device or on the desktop is up to the user's will.

[2016-01-13 10:16] stefanie-cliqz opened #112 "research crash reports; activate crash dump collector"

[2016-01-13 10:18] stefanie-cliqz opened #113 "Research browser telemetry"
(allow CLIQZ to be compared to Firefox)

[2016-01-13 10:26] alver-cliqz commented on #111
Similar problem in original FF. May be create a bug in FF bugtracker?

[2016-01-13 10:27] stefanie-cliqz commented on #94
Okay, thanks. Will close because this is in accordance to Mac behavior. We may consider doing something about the underlying issue (making CLIQZ more visible to the user right after installation), but will not address this now.

[2016-01-13 10:27] #94 closed

[2016-01-13 10:34] stefanie-cliqz opened #114 "set up Jira project for browser planning"

[2016-01-13 10:39] stefanie-cliqz commented on #92
Should not bundle Silverlight with CLIQZ due to large size of Silverlight installer and others. Other options to make it easier for users to use Silverlight may be explored in the future. At this point, installing it manually should not be too difficult.

[2016-01-13 10:39] #92 closed

[2016-01-13 10:40] stefanie-cliqz opened #115 "Silverlight plugin does not work in CLIQZ browser with Mac for Marc"
Reported by Marc:
Need to research reasons.

[2016-01-13 10:48] stefanie-cliqz commented on #79
Next build system will include more generic naming. Closing this issue.

[2016-01-13 10:48] #79 closed

[2016-01-13 10:50] stefanie-cliqz commented on #60
Closing this issue because it's an extension compatibility issue

[2016-01-13 10:50] #60 closed

[2016-01-13 10:57] stefanie-cliqz commented on #25
Firefox/profile problem. Closing issue.

[2016-01-13 10:57] #25 closed

[2016-01-13 11:06] stefanie-cliqz commented on #22
Closing this.

[2016-01-13 11:06] #22 closed

[2016-01-13 11:09] stefanie-cliqz opened #116 "Win 10: Browser icon is pixelated"
To be tested by @chrmod

[2016-01-13 11:21] stefanie-cliqz opened #117 "Start Theming Polishes"
Theming detail fixes on Windows.
Define all required or to be considered items in regards to the user interface design

[2016-01-13 13:01] maxim-cliqz commented on #88
I think it's done now.

[2016-01-13 13:01] #88 closed

[2016-01-13 14:23] stefanie-cliqz commented on #11
Design team is going through some general branding decisions at the moment, taking the whole product portfolio into consideration. This will take some time. Will move this ticket to backlog to be considered again in a few weeks, possibly at the end of Q1.

[2016-01-13 16:09] maxim-cliqz commented on #112
Talked to Andreja. Lots of work to be done yet.

[2016-01-13 16:18] maxim-cliqz opened #119 "Refactor config script"
Prefs should be set up in already existing files.
Other effects (like hiding parts of UI)should be achieved from extension or browser code itself.

[2016-01-13 17:21] alver-cliqz opened #120 "Add build number into Cliqz"
We need somehow translate internal build number from Jenkins into browser build, so later to be able to see this number in crash reports and telemetry

[2016-01-14 08:08] luciancor opened #121 "Change build filename to show the CLIQZ version"
![screen shot 2016-01-14 at 09 08 06](https://cloud.githubusercontent.com/assets/5583036/12318910/6703c558-ba9e-11e5-923e-b7aa9b60fe89.png)

[2016-01-14 08:51] luciancor commented on #121
closing this - merged with https://github.com/cliqz-oss/browser-f/issues/120

[2016-01-14 08:51] #121 closed

[2016-01-14 08:52] luciancor commented on #120
+ the installers  should contain the build number (see screenshot)
![screen shot 2016-01-14 at 09 08 06](https://cloud.githubusercontent.com/assets/5583036/12319715/75fe38a8-baa4-11e5-8e42-7272eba318ae.png)

[2016-01-14 12:40] alver-cliqz opened #122 "Merge with FF 43.0.4"
FF released update for 43-rd version. Better to merge with it our 0.9

[2016-01-14 12:53] alver-cliqz commented on #122
PR https://github.com/cliqz-oss/browser-f/pull/123

[2016-01-14 14:29] maxim-cliqz commented on #112
Will have another ticket for actual work later.

[2016-01-14 14:29] #112 closed

[2016-01-14 14:36] stefanie-cliqz commented on #114
Discussed possible structure with @chrmod. He will set up a new project accordingly in Jira and we will work through the details of the work flow together.

[2016-01-14 15:23] luciancor opened #124 "Silverlight not working - plugin not installed in our browser"
In firefox:

<img width="389" alt="screen shot 2016-01-14 at 16 23 00" src="https://cloud.githubusercontent.com/assets/5583036/12328318/28c04248-badb-11e5-9e4c-19befcb87ef6.png">

<img width="1438" alt="screen shot 2016-01-14 at 16 23 20" src="https://cloud.githubusercontent.com/assets/5583036/12328319/2904f492-badb-11e5-94c8-dc58969a70b2.png">

[2016-01-14 16:09] stefanie-cliqz commented on #86
Hi @roberto-cliqz can you please test if this is fixed in the released beta version? Thanks!

[2016-01-14 16:19] stefanie-cliqz commented on #85
Tested - works fine for me.

[2016-01-14 16:25] stefanie-cliqz commented on #58
tested. Worked for me.

[2016-01-14 16:41] stefanie-cliqz commented on #47
Not included in current test version yet; requires some fixing.

[2016-01-14 16:45] alver-cliqz commented on #122
PR #125

[2016-01-15 08:53] luciancor opened #128 "1st start: CLIQZ homepage opens before the freshtab so the onboarding is not visible"
1st tab open should be about:cliqz (freshtab) and it should be focused
2nd tab should be CLIQZ homepage

[2016-01-15 08:57] luciancor opened #129 "Pre set Bookmarks"
For english build:
"Tipps und Tricks page" is in German
 "About Us" page is in German
“Team" leads to a NOT FOUND page in German (!)

[2016-01-15 08:58] luciancor opened #130 "Help menu lost CLIQZ entries"
Help menu is not providing the CLIQZ tour, nor other CLIQZ features

[2016-01-15 08:59] luciancor opened #131 "Users1st feature - cannot be deactivated"
it’s not possible to switch to Always ask or to Never (click doesn’t work)
![screen shot 2016-01-14 at 15 06 44](https://cloud.githubusercontent.com/assets/5583036/12349267/91bf28de-bb6e-11e5-870a-e4fb487ed786.png)

[2016-01-15 09:03] luciancor commented on #75
After the installation of CLIQZ browser, Win10 asks the user "how do you want to open this?", by clicking on “CLIQZ” a new tab is opened in the CLIQZ browser (see screenshot)
![screen shot 2016-01-14 at 17 19 45](https://cloud.githubusercontent.com/assets/5583036/12349311/ea9f337c-bb6e-11e5-9b17-ea27af45402d.png)

[2016-01-15 09:05] #122 closed

[2016-01-15 09:27] sam-cliqz opened #132 "Multiple instances message referrers to Firefox"
![untitled](https://cloud.githubusercontent.com/assets/13136623/12349761/77a308e0-bb72-11e5-9f63-3777c5d3417c.png)

When attempting to open a second CLIQZ browser instance with one already running.

[2016-01-15 09:45] roberto-cliqz commented on #86
This is fixed in the released beta version.

[2016-01-15 09:50] chrmod commented on #130
@richard-cliqz @robert-cliqz please include testing of help menu in our QA procedure

[2016-01-15 10:00] chrmod commented on #129
Where we set default bookmarks ATM?

We should probably use distribution.ini for this purpose and create separate distribution file for each supported language.

Another workaround would be to have language detection on a website, so we can have one link for all languages - this does not solve the problem of link label though.

[2016-01-15 10:04] richard-cliqz commented on #130
Already is included.

---- Krzysztof Jan Modras schrieb ----

@richard-cliqz<https://github.com/richard-cliqz> @robert-cliqz please include testing of help menu in our QA procedure

-
Reply to this email directly or view it on GitHub<https://github.com/cliqz-oss/browser-f/issues/130#issuecomment-171915869>.

[2016-01-15 11:02] roberto-cliqz commented on #130
Help Menu is to be tested in the entry 0.8.1-013  "Top and Burger Menu (Help / Questionmark)".

[2016-01-15 14:17] #131 closed

[2016-01-15 14:40] luciancor commented on #129
@stefanie-cliqz the website needs to have a valid url (or redirect) for https://cliqz.com/team/ as it is used both in the browser and the extension

[2016-01-15 14:43] luciancor commented on #129
@chrmod language detection should be handled on the website and the labels are handled with the normal localization mechanisms eg:  https://github.com/cliqz-oss/browser-f/blob/master/mozilla-release/browser/locales/generic/profile/bookmarks.html.in#L23

[2016-01-15 15:41] luciancor commented on #82
from @roberto-cliqz
- going to Settings >> Preferences >> General there are two checkboxes. The first one works: windows and tabs from the last time can be restored. But if both checkboxes are checked, the CLIQZ start page is not shown with the previous windows and tabs.

[2016-01-17 14:31] stefanie-cliqz commented on #129
Thanks, @luciancor
the link on the website is https://cliqz.com/aboutus/team (German) and https://cliqz.com/en/aboutus/team (English). Can you change this URL in the browser and extension?
Alternatively we can add redirects to the website, however, the more redirects, the more error-prone. Therefore option 1 would be preferred.

[2016-01-17 21:08] richard-cliqz opened #135 ""Publisher unknown" warning when installing update"
See screenshot.
Reproduce:
Wait until receiving update notification,
closing CLIQZ
opening CLIQZ
the attached warning message is given

expected behavior:
Program name should be "CLIQZ"
Publisher should be "Cliqz GmbH"

Windows 10
![dsc_0002 7](https://cloud.githubusercontent.com/assets/6839735/12379969/c1b8aa5c-bd66-11e5-926c-16215aea50a4.JPG)

[2016-01-19 12:01] chrmod commented on #135
moved to jira

[2016-01-19 12:01] #135 closed

[2016-01-19 12:01] chrmod commented on #130
moved to jira

[2016-01-19 12:01] #130 closed

[2016-01-19 12:01] chrmod commented on #129
moved to jira

[2016-01-19 12:01] #129 closed

[2016-01-19 12:01] chrmod commented on #128
moved to jira

[2016-01-19 12:01] #128 closed

[2016-01-19 12:01] chrmod commented on #124
moved to jira

[2016-01-19 12:01] #124 closed

[2016-01-19 12:02] chrmod commented on #120
moved to jira

[2016-01-19 12:02] #120 closed

[2016-01-19 12:02] chrmod commented on #119
moved to jira

[2016-01-19 12:02] #119 closed

[2016-01-19 12:02] chrmod commented on #117
moved to jira

[2016-01-19 12:02] #117 closed

[2016-01-19 12:02] chrmod commented on #116
moved to jira

[2016-01-19 12:02] #116 closed

[2016-01-19 12:02] chrmod commented on #115
moved to jira

[2016-01-19 12:02] #115 closed

[2016-01-19 12:02] chrmod commented on #114
moved to jira

[2016-01-19 12:02] #114 closed

[2016-01-19 12:02] chrmod commented on #113
moved to jira

[2016-01-19 12:02] #113 closed

[2016-01-19 12:02] chrmod commented on #111
moved to jira

[2016-01-19 12:02] #111 closed

[2016-01-19 12:02] chrmod commented on #108
moved to jira

[2016-01-19 12:02] #108 closed

[2016-01-19 12:02] chrmod commented on #106
moved to jira

[2016-01-19 12:02] #106 closed

[2016-01-19 12:02] chrmod commented on #101
moved to jira

[2016-01-19 12:02] #101 closed

[2016-01-19 12:02] chrmod commented on #98
moved to jira

[2016-01-19 12:02] #98 closed

[2016-01-19 12:02] chrmod commented on #90
moved to jira

[2016-01-19 12:02] #90 closed

[2016-01-19 12:02] chrmod commented on #82
moved to jira

[2016-01-19 12:02] #82 closed

[2016-01-19 12:02] chrmod commented on #80
moved to jira

[2016-01-19 12:02] #80 closed

[2016-01-19 12:02] chrmod commented on #75
moved to jira

[2016-01-19 12:02] #75 closed

[2016-01-19 12:03] chrmod commented on #47
moved to jira

[2016-01-19 12:03] #47 closed

[2016-01-19 12:03] chrmod commented on #46
moved to jira

[2016-01-19 12:03] #46 closed

[2016-01-19 12:03] chrmod commented on #38
moved to jira

[2016-01-19 12:03] #38 closed

[2016-01-19 12:03] chrmod commented on #34
moved to jira

[2016-01-19 12:03] #34 closed

[2016-01-19 12:03] chrmod commented on #26
moved to jira

[2016-01-19 12:03] #26 closed

[2016-01-19 12:03] chrmod commented on #24
moved to jira

[2016-01-19 12:03] #24 closed

[2016-01-19 12:03] chrmod commented on #23
moved to jira

[2016-01-19 12:03] #23 closed

[2016-01-19 12:03] chrmod commented on #19
moved to jira

[2016-01-19 12:03] #19 closed

[2016-01-19 12:03] chrmod commented on #11
moved to jira

[2016-01-19 12:03] #11 closed

[2016-01-19 12:03] chrmod commented on #3
moved to jira

[2016-01-19 12:03] #3 closed

[2016-01-19 12:03] chrmod commented on #132
moved to jira

[2016-01-19 12:03] #132 closed

[2016-01-19 12:03] chrmod commented on #37
moved to jira

[2016-01-19 12:03] #37 closed

[2016-02-24 15:34] alver-cliqz commented on #48
Can I ask - does we really need this? I don't like this third-party dependency in our product, it could be some potential problem in such kind of integration.

[2016-02-24 15:52] luciancor commented on #48
not any more - we should take it out at the same time with addon blocking

[2017-01-23 15:34] milouse opened #523 "v.1.10.0 does not build due to limited right on cliqz amazon cdn"
Hi!

The 1.10 tagged version build fails as we are not able to download the following file at build time :

`https://s3.amazonaws.com/cdncliqz/update/browser_beta/https-everywhere/https-everywhere@cliqz.com-5.2.9-browser_beta-signed.xpi`

However, if I replace this url by the following in the `mozilla-release/config/rules.mk` file, everything goes fine : `https://s3.amazonaws.com/cdncliqz/update/b

[2017-01-25 13:36] stefanie-cliqz commented on #523
Thanks @milouse. We'll look into the issue and get back to you.

[2017-01-25 13:44] alver-cliqz commented on #523
Hi, @milouse. Just checked - both links works. Can you please re-check on your side?

[2017-01-25 14:27] milouse commented on #523
Ok weird, I confirm both links works. But the beta one did not work last week. Did you change anything?

BTW, the most important thing is that it's working now.

[2017-01-25 14:27] #523 closed

[2017-01-25 14:56] luciancor commented on #523
@milouse we had an issue with HTTPSEverywhere but it is fixed now. Thanks for your report!

[2017-06-12 14:24] danielzuegner opened #627 "macOS: Keychain support"
Hi all,

first of all: Thank you for this great browser!

As a Mac user the only thing that bugs me with CLIQZ is that I can't use passwords from my OS's keychain. There is an open source Firefox add-on that offers this functionality: [https://github.com/jfitzell/mozilla-keychain](https://github.com/jfitzell/mozilla-keychain)

I can understand that you don't want to enable add-ons in CLIQZ. Howeve

[2017-06-13 14:28] alver-cliqz commented on #627
Good day, @danielzuegner.

Here two possible way to complete your task:
1. Allow back all extensions from Mozilla
2. Create your own certificate and add it to extensions installation process.

Please, look into this two commit to find our how you can process further:
https://github.com/cliqz-oss/browser-f/commit/f39933316cebdcd852346015ab30f56c5a30f549
https://github.com/cliqz-oss/browser-f/commit

[2017-06-14 11:02] danielzuegner commented on #627
Hi @alver-cliqz,

Thank you very much for your reply. Thanks to your directions, I was able to compile CLIQZ with extensions allowed.

Best,

Daniel

[2017-06-20 09:17] #627 closed

[2017-07-20 08:21] danielzuegner opened #655 "PDF printing creates wrong symbols"
Hi all,

I don't know if this is the right place to post this, but here it is. I am using macOS Sierra and CLIQZ 1.14.1. My system language is German, in case that matters.

I was printing [this pdf](http://www.vldb.org/pvldb/vol8/p581-gatterbauer.pdf), and noticed that some mathematical symbols were mixed up (e.g. '∩' instead of '=') on the print-out version. Now, printing the PDF to disk made it

[2017-07-20 08:28] alver-cliqz commented on #655
Hi, @danielzuegner .

Thanks for the report. This is a right place to do so.

Cliqz browser based on Firefox and using same pdf viewer as Firefox. Can you please check this in latest Firefox version (54.0.1), does this problem reproduced also in it? If yes - we will forward this issue to Mozilla's bugtracker to fix this general problem. If it is only Cliqz issue - we will fix it on our side.

[2017-07-20 08:48] danielzuegner commented on #655
Hi @alver-cliqz ,

Thanks for the quick response. I went ahead and installed the latest Firefox version (54.0.1 (64-Bit)) and tried 'printing' to a PDF file (I don't have an actual printer near me right now), and I noticed similar problems with the mathematical symbols (see [uploaded pdf file](https://github.com/cliqz-oss/browser-f/files/1161674/firefox-print.pdf)). I even restarted my computer ju

[2017-07-20 08:51] alver-cliqz commented on #655
Hi, Daniel.

Thanks for your help. I'll take care of it, will check on my PC and fill a bug in Mozilla's bugtracker. Will inform you here about progress.

[2017-07-20 09:28] danielzuegner commented on #655
This looks like it's the problem I'm experiencing:
https://bugzilla.mozilla.org/show_bug.cgi?id=880181

[2017-08-22 19:19] milouse opened #668 "Dead keys don't work"
As I'm a french user, my linux box is configured with the fr_FR.utf8 locale, lang, etc. My main keyboard layout, defined in Mate desktop and x11 level is fr-bepo (a french dvorak variant). I'm using the deb version of cliqz (the bug exists for all cliqz version since 1.12 at least). I've a custom `.XCompose` file in my home folder, along with the following lines in my `.profile` file:

[code]

##

[2017-08-22 19:23] milouse commented on #668
I've tried again after having disabled my .XCompose and commented the corresponding .profile lines and it changes nothing.

[2017-09-04 14:54] milouse opened #686 "Don't forget to create a new tag when an official version is released"
Other way to say: I've just discovered that the 1.15.0 version [seems to be released](http://repository.cliqz.com/?prefix=dist/debian-release/pool/main/c/cliqz/). Can you tag the corresponding commit to help repackaging? Thanks !

[2017-09-05 12:50] remusao commented on #686
The version `1.15.0` has just been tagged. We will try to be more reactive for future versions. Thanks for the reminder.

[2017-09-06 10:15] milouse commented on #686
No problem, it just eases the packaging for various other distributions.

Archlinux packages is out now :)

[2017-09-06 10:15] #686 closed

[2017-09-29 14:37] nyancat18 opened #701 "Build error"
host: manjaro testing 64 17.0.5

dependencies

python2 2.7.14

llvm 5.0.0-1

lld 5.0.0-1

clang 5.0.0-1

dbus-glib 0.108

m4 1.4.18-1

libxt 1.1.5

startup-notification 0.12-5

icu 59.1

autoconf2.13 2.13

gcc5 5.4.0-1

yasm 1.3.0-2

arch: 64 bit

ram: 16

cpu: fx 8350

buildscript
https://aur.archlinux.org/packages/cliqz/

log
https://p.teknik.io/Raw/1PNDA

[2017-10-04 11:43] milouse commented on #701
Your compilation log doesn't seem to be complete. Do you really include all the lines?

Which version of gcc do you use? This package is tested successfully with gcc7, not gcc5. Can you try to install gcc7 before? Do you use the regular gcc version or the multilib?

[2017-12-08 22:02] milouse opened #792 "With human web activated, cliqz loops on error in console"
On linux, if you start cliqz from a terminal, and you have human web activated, even if the browser works as expected from a human being, it keeps outputing the same error stack in console:

[code]

When I disable human web (both in cliqz panel and ghostery options the error stops.

[2017-12-08 23:40] chrmod commented on #792
hi @milouse, thanks for the report. I will take a look into it. human-web has a set interval on which it operate background jobs, which seems to be the trigger. Still there should be no errors from it. @konark-cliqz maybe you know what is happening.

[2017-12-09 10:53] milouse commented on #792
Yeah I assume it was caused by some interval execution. I was trying to debug my #668 issue and the console get polluted ;)

By the way I found a similar crash with ghostery, this time it happen only once or twice, no idea why or how to trigger it again, but is obviously related to the displaying of the purple box:

[code]

[2017-12-09 11:12] konark-cliqz commented on #792
Thank you for reporting the issues @milouse,

Regarding the issue in Comment 0,

[code]

[2017-12-09 11:55] milouse commented on #792
Ow, you do work on saturday :( please enjoy your week-end, I can wait for monday :)

This is a custom build for archlinux, you have the recipe [here](https://aur.archlinux.org/packages/cliqz/). I didn't try with the debian build.

`about:support` tell the following version numbers:

## Application basics

Name | Cliqz
---- | ----
Version | 1.17.1
Build ID | 20171130123422

## Cliqz Features

name

[2018-02-16 10:50] RoPe93 opened #840 "Linux platform support?"
Why not for Linux? I doubt there is any technical problem to have Linux version since Mac, Windows, Android and iOS versions are supported.

[2018-02-16 12:20] alver-cliqz commented on #840
Good day.

We have an unofficial build for Linux, you can find detailed information here: https://cliqz.com/en/desktop/cliqz-for-linux. We are not testing Linux build, so, there are might be some problems in it. Also there is Archlinux package, built by cliqz fans.

[2018-02-16 12:20] #840 closed

[2018-02-16 19:11] chrmod commented on #840
@RoPe93 we are also happy to welcome any kind of contribution that can help us to support the Linux builds. In a way supporting Linux versions is much harder than Window or MacOS due to variety of GNU/Linux distributions. Back in a day we have tried distribution agnostic packaging systems jak snap and appimage, but those have their own quirks. Please note that Cliqz is a very small team (compared

[2018-03-24 17:04] bn0785ac opened #870 "Linux buildfixes"
I've found some issues building cliqz 1.19

but wih some of my patches   its now working **fine**

please add it to   upstream repo  if its possible,  thanks

https://raw.githubusercontent.com/bn0785ac/firefox-beta/master/fix.patch
https://raw.githubusercontent.com/bn0785ac/firefox-beta/master/fix2.patch

[2018-06-05 09:35] alver-cliqz commented on #870
Hi @bn0785ac. Sorry for long non-answering. Can you please check with latest 1.20.0, is it still relevant? If so - I will merge to master

[2018-06-05 09:36] #792 closed

[2018-06-05 09:36] #701 closed

[2018-06-05 09:37] #655 closed

[2018-06-05 10:00] milouse commented on #668
The problem is still there :/

[2018-06-05 12:10] alver-cliqz commented on #668
Sorry @milouse . Do you know how we can fix this? And is it exist for original FF?

[2018-06-05 12:12] alver-cliqz commented on #668
@luciancor, @chrmod could it be because of extension do not properly process keystroke?

[2018-06-05 14:41] milouse commented on #668
No, it does not exist on firefox. The bug is present in both the version compiled by you (fetched as deb or tar.bz2) and the one I build for archlinux.

However I never try to compile firefox myself. I suspect a problem with linked lib (libevent, xorg ?) but I cannot see major difference between regular firefox and cliqz build recipes.

The problem does not appear in cliqz for firefox.

[2018-06-05 15:45] remusao commented on #668
Hey @milouse,

I was not able to reproduce so far using the basic `azerty` layout on an Ubuntu 16.04 box. Could you maybe give this layout a shot and see if the issue persists?

[2018-06-06 08:40] milouse commented on #668
I try with an azerty layout too, same problem. It must really be a problem with an archlinux lib. Thus non blocking bug for you as you support only debian/ubuntu, but strange enough to let me look further on this. If I found something I let you know.

[2018-06-06 08:58] luciancor commented on #668
thanks for your input @milouse! Closing this issue for now but please let us  know if you find out more details ;)

[2018-06-06 08:58] #668 closed

[2018-07-17 11:50] milouse commented on #668
Very strange, with the last build, the bug always occurs on one of my computer, but not on the other one, freshly installed. I'm pretty sure both have the same configuration. I'll look further to find the diff between the two computers.

[2018-07-17 11:55] milouse commented on #668
Wow. I just deleted my cache and profile files from the old PC to simulate a cliqz fresh install… and the bug is gone. This should be related to some old profile preferences… but anyway I've now a fully working cliqz browser. I'm happy :)

[2018-07-17 12:11] remusao commented on #668
@milouse That is very nice to hear! I'm glad this mystery is now solved! Thanks a lot for spending the time to investigate.

[2019-01-02 15:17] milouse opened #1096 "Cliqz does not respect the browser search settings and force the cliqz addons ones"
I'm using a nightly build of Cliqz, compiled against the commit e59bb753d337671d9723fd2bf5ea65a65ada6b21.

about:support displays the following info:

**Version** 1.24.0
**Build ID** 20190101222708
**Cliqz (Nightly)** 1.33.0.388 cliqz@cliqz.com

In the search settings of the browser, I've setup a custom search engine, as displayed in the following screenshot
![capture du 2019-01-02 16-13-00](https

[2019-01-02 15:22] milouse opened #1097 "Current tab is almost invisible with the dark theme, without the blue bar"
I'm using a nightly build of Cliqz, compiled against the commit e59bb75.

about:support displays the following info:

**Version** 1.24.0
**Build ID** 20190101222708
**Cliqz (Nightly)** 1.33.0.388 cliqz@cliqz.com

# Expected result

The current tab should be easily spotable on the tab bar

# Actual result

There is no difference between the current tab and the other background tabs, as seen in the

[2019-01-02 16:54] kateryna-cliqz commented on #1096
Thanks for the detailed report!
We were able to reproduce the issue and appropriate ticket was created.
The issue will be fixed in nearest release version.

Best regards,
Kateryna (Cliqz QA Team)

[2019-01-14 07:48] milouse opened #1110 "The developer console use default webfont family (proportional) instead of monospace"
The web developer console seems to use the browser default font (serif or sans-serif), but not a monospaced one. This behavior differ from firefox, where the webdeveloper font is fixed.

Here is a screenshot of my current console:
![capture du 2019-01-14 08-41-08](https://user-images.githubusercontent.com/349239/51101024-ba6f3f00-17d0-11e9-8949-52841dad92b1.png)

[2019-01-24 09:32] remusao commented on #1110
@milouse On Ubuntu I do not seem to have this issue, could it be some fonts are not installed on your system?

[2019-01-24 09:58] luciancor commented on #1096
@alver-cliqz this issue was in the extension and we fixed it 1 week ago. it is already fixed on beta and will go live in production witn 1.33.0 at the beginning of next week

[2019-01-28 12:02] milouse commented on #1097
I was off for some days, I just came back and just saw the new release :)

I can already confirm that it's ok with the .deb release. I'm waiting for the end of the compilation to check if it's fixed in all cases, but I think there will be no problem.

Thanks :)

[2019-01-28 12:05] milouse commented on #1110
Ok I'll look at the css file. It may be a problem of default font… I'll let you know if I find something.

[2019-01-28 13:31] #1097 closed

[2019-01-29 17:04] milouse commented on #1110
The problem only occurs with the compiled version of cliqz. Not with the repackaged deb. I'll try to diff the two directories.

[2019-02-05 10:35] alver-cliqz commented on #1097
@milouse good to know. Thank you for your help

[2019-02-13 09:05] milouse commented on #1096
I confirm the fix in the 1.25.0 release embedding cliqz addons v1.33.0 .

[2019-02-13 09:05] #1096 closed

[2019-02-19 10:42] Krotesk1 opened #1174 "russian l10n"
Please add Russian localization.

[2019-02-19 11:48] Krotesk1 commented on #1174
Created a fork - try to understand yourself.

[2019-02-19 12:00] alver-cliqz commented on #1174
Hello. We do not planning to support russian localization for now. You can try, it is simple - just download proper l10n from https://hg.mozilla.org/l10n-central/ru/, checkout proper version (mozilla-release\browser\locales\l10n-changesets.json), put in into l10n/ru folder. Then you need to make changes in build script, check all mentions of CQZ_BUILD_DE_LOCALIZATION and change de to ru (don't nee

[2019-02-20 07:39] milouse commented on #1110
I think I'll close this issue for now. I've take time to compare both resources files, and nothing seems wrong or specifically font related. I still have the problem, but now it's cause is more obvious: I compile my own version of cliqz on machine A, and install the same package on all my computers. The problem is fixed on machine A but continue on all others. I think it is related to my local env

[2019-02-20 07:39] #1110 closed

[2019-02-20 09:14] milouse opened #1176 "View source and responsive tool result in a blank tab on linux"
The problem both occurs for me using the unpacked *.deb version or my own compiled version.

about:support displays the following info:

**Version** 1.25.1
**Build ID** 20190213162449
**Cliqz** 1.33.0 cliqz@cliqz.com

## Expected result

1. When hitting `ctrl+U` or right click anywhere on the page and selecting « View Page Source », it must open a new tab containing the same visited URL, prefixed

[2019-02-20 09:41] alver commented on #1176
Hi! Knowing issue, we are releasing 1.25.2 today with fix for both

[2019-02-20 16:02] milouse commented on #1176
I confirm this is closed by the latest release. Thank you very much!

[2019-02-20 16:02] #1176 closed

[2019-02-20 16:15] milouse commented on #1174
I've succeeded to build a french release of cliqz. Here are my exact step:

[code]

Your newly built package should be `obj/dist/$pkgname-$pkgver.${_otherlocale}.linux-x86_64.tar.bz2`

Of course you may need to modify other things to successfully build cliqz (like the mozilla and google api keys, etc.)

[2019-02-20 16:16] milouse commented on #1110
I confirm the problem comes from my local environment. Building cliqz in chroot made the problem disapear. Sorry for the noise.

[2019-02-20 17:17] alver-cliqz commented on #1110
Good to know that this one fixed. Thank you for you help!

[2019-03-21 09:40] #1174 closed

[2019-05-06 07:10] milouse opened #1252 "Search fail on custom POST search engine"
The addons-pocalypse from the last days (3-5 may) had one benefit: it proves my search problem is related to the cliqz addons on the cliqz browser (at least, I will try on firefox later). I suspect this is because my search engine requires POST request.

## Step to reproduces:

1. Open cliqz and go to a not default search engine (like any searx instance, for example mine: https://trouver.umaneti.n

[2019-05-11 00:06] fraggerfox opened #1253 "Unable to download the plugins during build time after Cliqz 1.26.5 update"
Hello

I was trying to build Cliqz-1.26.5 after the release, and I came across a problem when it tried to download the various `xpi` plugins. It seems the URL gives a 404 when I attempt to download them.

Here are logs from an attempt.

First I tried to get the `lastbuildid`, which worked.
[code]

Then using that I tried to download the plugin and that shows a 404.

[code]
Do let me know if I am d

[2019-05-13 09:16] alver-cliqz commented on #1253
Good day. Thank you for pointing to this, I need to make some changes in build scripts.

Problem fixed for now, please check again

[2019-05-13 09:17] alver-cliqz commented on #1252
@luciancor , @chrmod ?

[2019-05-13 10:01] fraggerfox commented on #1253
Looks like it works now, I am able to download the plugins as expected.

Thank you @alver-cliqz

Closing this ticket, since it is resolved.

[2019-05-13 10:01] #1253 closed

[2019-05-15 10:12] luciancor commented on #1252
hi @milouse !

I can reproduce this and it seems that we have 2 separate issues: (1) this search engine does not seem to have a valid icon and we do not handle this case well plus (2) what you mentioned with requiring a POST request in the opensearch definition.

We created an internal bug and fix it in our next release. Thanks for the report!

Cheers,
Lucian

[2019-05-15 15:11] milouse commented on #1252
Thank you very much !

Just to be complete, starting a search request from the contextual menu (right click --> search with …) works properly. Thus only the urlbar has the wrong behavior.

[2019-06-21 07:51] milouse opened #1286 "Please add a tag for the 1.27.3 release"
In order to ease other packaging of the mozilla quick fix for the 0-day. Thank you very much.

[2019-06-21 08:34] aleksei-cliqz commented on #1286
Thank you @milouse for notification.
Done.

[2019-06-21 09:55] milouse commented on #1286
Don't forget to move the debian build from the prerelease repository to the release one!

[2019-06-24 08:29] alver-cliqz commented on #1286
Everything done on Friday

[2019-06-24 08:29] #1286 closed

[2019-06-24 08:31] alver-cliqz commented on #1286
@milouse please re-check your build, because I recreated a tag (aleksei put a wrong one). Sorry for mess

[2019-06-24 20:44] milouse commented on #1286
Ok thanks for the notification, I'll look at it tomorrow.

[2019-06-27 13:33] milouse commented on #1286
Is the 1.27.4 release ready as well? It shows off on your repository, but not as a debian release nor a tag?

[2019-06-28 08:37] alver-cliqz commented on #1286
In progress, testing today (we found one more minor bug, want to put into release also). You can check current release branch, I will put a new tag asap after internal testing

[2019-06-30 04:58] shscs911 opened #1290 "Dark Reader extension incompatible with Cliqz browser"
[Dark Reader](https://addons.mozilla.org/en-US/firefox/addon/darkreader/) extension can't be installed in Cliqz. It gives the error `Cliqz does not support some APIs for reasons of privacy protection and performance`. But the addon [Dark Night Mode](https://addons.mozilla.org/en-US/firefox/addon/dark-night-mode/) providing similar function can be installed. I love the preview in the search bar and

[2019-07-02 08:58] alver-cliqz commented on #1290
@tsl143 , which API this extension need, which we don't support?

[2019-07-02 09:07] tsl143 commented on #1290
Dark reader uses `theme` API which we don't support.

[2019-11-16 22:04] fraggerfox opened #1387 "Github release tag and version mismatch"
I have a problem trying to update the cliqz packages in FreeBSD. This is due to the fact that there is a version mismatch between the tag and the version of cliqz.

`https://github.com/cliqz-oss/browser-f/tree/1.30.1`

The release tag is currently set to `1.30.1` and the release version number is indicated as `1.30.0` due to which the Github fetch fails because it cannot find the tag `1.30.0` or t

[2019-11-17 12:28] tsl143 commented on #1387
Hi @fraggerfox thank you for pointing this out.
I have updated the release tag, please let me know it you face any more issue.

[2019-11-17 14:43] fraggerfox commented on #1387
@tsl143 Thanks for the update.

Looks like this fixes the issue I was facing and I am able to update the package.

Closing the ticket as the problem is resolved.

[2019-11-17 14:43] #1387 closed

[2020-01-16 01:34] da2x opened #1429 "Several security issues, falling behind upstream"
Cliqz is falling behind upstream releases. The last release is based on 70.0 so Cliqz maybe vulnerable to some or all of the following advisories:
https://www.mozilla.org/en-US/security/advisories/mfsa2019-36/
https://www.mozilla.org/en-US/security/advisories/mfsa2020-01/
https://www.mozilla.org/en-US/security/advisories/mfsa2020-03/

I’d suggest switching from Rapid Releases to Extended Support R

[2020-01-16 10:46] alver-cliqz commented on #1429
Good day. We are close to release update up to 72.0.1, everything will be fine. Thank you for your suggestion

[2020-01-16 19:14] gurgunday opened #1432 "Publish Cliqz Browser in Snapstore for Linux"
Hi everyone! I know Cliqz for Linux is not a priority at the moment but I suggest adding it to the [Snap Store](https://snapcraft.io/store) for a simple coverage of all Linux distributions. It would both benefit you as you wouldn't need to keep a PPA and us who wish to easily download Cliqz on Linux devices.

[2020-01-18 08:38] muusik opened #1434 "cliqz 1.32.0-1 terminated by signal SIGSEGV (Address boundary error) on Debian Testing"
This bug is incomplete. Please let me know what useful information can be added.

[2020-01-18 08:50] remusao commented on #1432
Hi @gurgunday,

Snap is something we experimented with a (long) while ago. At the time it was not ready for prime-time. It is probably more mature now and we could give it another shot :)

Thanks for the suggestion,

[2020-01-19 00:02] sudoyang opened #1435 "cliqz quits with error after a most recent upgrade"
➜  ~ cliqz

(cliqz:26696): Gtk-WARNING **: 19:00:24.656: Theme parsing error: gtk.css:1:104: Failed to import: Error opening file /home/phy/.local/share/gnome-shell/extensions/unite@hardpixel.eu/styles/buttons-left.css: No such file or directory
JavaScript warning: resource://gre/modules/TelemetryReportingPolicy.jsm, line 413: unreachable code after return statement
JavaScript warning: chrome://br

[2020-01-19 02:36] Filbuntu commented on #1435
Same here on Ubuntu 19.10 (1.32.0-1). I can not even start it on safe-mode:
$ cliqz -safe-mode
JavaScript warning: resource://gre/modules/TelemetryReportingPolicy.jsm, line 413: unreachable code after return statement
JavaScript warning: chrome://extensions/content/parent/ext-theme.js, line 458: unreachable code after return statement
JavaScript warning: chrome://extensions/content/parent/ext-them

[2020-01-19 10:43] remusao commented on #1435
Hi there,

Thanks a lot for opening an issue and giving details. We are aware of the issue and working on fixing it ASAP. Apologies for the inconvenience caused.

Best,

[2020-01-19 10:44] remusao commented on #1434
Hi @muusik,

Thanks for taking the time to report the issue. We are aware of this issue and working on fixing it ASAP. Sorry for the inconvenience caused by the crash.

Best,

[2020-01-20 10:40] gurgunday commented on #1432
To add to the issue, I also think if you don’t want to use a centralized store and want your website to be the only source to download Cliqz Browser, AppImage is a great alternative that works on most (if not all) Linux distributions.

[2020-01-20 10:46] remusao commented on #1432
Thanks for the suggestion. There seems to be a few contenders with regard to packaging: snap, flatpak and appimage. It is not clear to me at this point if one of them is "the winner". Ideally it would be nice if one stack becomes the de-factor standard, otherwise there will be a lot of fragmentation in the ecosystem and we don't win much compared to the `deb`/`rpm` situation.

[2020-01-20 12:04] #1435 closed

[2020-01-20 12:04] #1434 closed

[2020-01-20 12:06] remusao commented on #1435
@sudoyang @Filbuntu We identified and fixed the issue. We need to perform a bit of extra testing to make sure there is no regression then we will prepare a release. Thanks a lot for your patience.

[2020-01-20 12:06] remusao commented on #1434
@muusik We identified and fixed the issue. We need to perform a bit of extra testing to make sure there is no regression then we will prepare a release. Thanks a lot for your patience.

[2020-01-20 14:43] Filbuntu commented on #1435
@remusao Thanks a lot for the speedy fix! I am looking forward to the release!

[2020-01-20 15:59] ghost commented on #1432
Well, I would also love to see a single, fully adopted standard!

Forgive me if I’m writing things that you already know but I want to elaborate a little since all decisions made by the Cliqz team have real good reasoning behind them and even though this subject, in particular, seems to be one where there will never be a clear winner, we shouldn't consider every Linux user technically advanced eno

[2020-01-20 16:16] milouse opened #1440 ""Search with" option removed from awesome bar sugestion when default search engine is cliqz"
# Step to reproduce

1. Install https://beta.cliqz.com as default search engine
2. Enter "test" as keyword in the url bar

# Expected result

The first suggestion in the dropdown list must be "Test — Search with cliqz" and, if chosen, should lead to this page: https://beta.cliqz.com/search?q=test

# Current result

Only results suggestion are shown:

![cliqz-cliqz](https://user-images.githubuserco

[2020-01-20 16:19] remusao commented on #1440
Thanks for opening an issue @milouse. We're having a look ASAP. I will get back to you with more details.

[2020-01-20 17:17] milouse commented on #1440
(it's very not urgent… beta.cliqz.com is not known to be ready yet :) I must be the only one testing this kind of integration xD)

[2020-01-20 17:39] philipp-classen commented on #1440
I also got it after upgrading to the latest .deb build (with Clang 9).

On Arch, I had a similar issue (or the same?) after upgrading to the version that I build from source. First, it forgot the Cliqz search default. When I added it back (removed Cliqz in preferences and readded it as default), it became the default for the right-click "Search Cliqz for" action. However, the dropdown search staye

[2020-01-21 09:01] milouse commented on #1440
I don't know if it is related or not. My behavior was slightly different:

- after upgrade my previous choice was remembered
- right click "search with" was using the right search engine (and was still there)
- only the awesome bar "shortcut" disapears if default search engine is cliqz no matter if it's just after upgrade or after some other restart

[2020-01-21 11:04] philipp-classen commented on #1440
I think after upgrading, the existing Cliqz search entry that has been manually added (in both our setups) clashed with the Cliqz search entry shipped by the browser now.

@milouse As a workaround, you can recover from the inconsistent state via "preferences" -> "search" -> "Restore default search engines". That worked for me. I also removed the duplicated Cliqz entry (the one at the end, which is

[2020-01-21 11:08] remusao commented on #1434
@muusik We have published a new stable release of Cliqz for Linux a few minutes ago. This should fix the crash on start-up that you experienced. Let me know if there is anything else!

[2020-01-21 11:08] remusao commented on #1435
@sudoyang @Filbuntu We have published a new stable release of Cliqz for Linux a few minutes ago. This should fix the crash on start-up that you experienced. Let me know if there is anything else!

[2020-01-21 11:20] muusik commented on #1434
I have installed the new version and it works perfectly. Thank you again.

[2020-01-21 11:29] milouse commented on #1440
In my current build (with french locale from firefox) I don't have cliqz in the search engine list after having restored default search engines :/

I'll try with an english and german build later today to see if it's related to my locale.

[2020-01-21 14:54] milouse commented on #1440
I can confirm that my behavior is due to my french-localized version of cliqz: I just run the default (english) cliqz and I've the same behavior than you @philipp-classen. You should then focus on your behavior than mine.

[2020-01-21 15:03] philipp-classen commented on #1440
@milouse Thanks for checking!

[2020-01-21 18:07] sudoyang commented on #1435
Thank a lot!

[2020-01-22 15:25] remusao commented on #1432
@gurgunday Thank you so much for taking to time to detail your thoughts and research on this topic. I am familiar with some of these things but it has been a long while since I took the time to investigate deeply. In principle it would be amazing to have Cliqz packaged in as many ways as possible, so that it can be installed by users on many different systems, and with a variety of technical skill

[2020-01-22 15:28] remusao commented on #1290
@shscs911 @tsl143 @alver-cliqz As far as I can see, `Dark Reader` can now be installed in Cliqz and works properly (I tried just now). Could you please confirm that the issue is resolved on your side as well?

[2020-01-22 20:55] ghost commented on #1432
Way to communicate with the community! I would love to help in any way, shape, or form. Will check how the packaging can be done in _appimage_ and _snap_ as I'm more familiar with them.

Even though I like the decentralized aspect of flatpak, I believe the others to be better candidates since they are usually preferred by companies to distribute official software. Plus, I found flatpak to be a lit

[2020-01-22 20:59] gurgunday commented on #1432
I also want to add something real quick. @chrmod seems to have a snap on the Snapstore already. I haven't tried yet but it might help if he has packaged it before.

[2020-01-22 21:52] remusao commented on #1432
Chrmod is a colleague of mine at Cliqz, and from what I remember at the time he created the account on Snapstore when we experimented with packaging Cliqz. I am pretty sure that I pushed these snaps at the time... but it was not very stable. The situation is probably much better now. From memory, at the time I found the snap for Firefox and adapted it for Cliqz.

Ideally we would create a POC to c

[2020-01-23 02:37] Filbuntu commented on #1435
@remusao  Thank you for the swift fix! I could download it yesterday but had no time to text properly as I was travelling. It works for me and I can use Cliqz again, hurray! Thanks again!

[2020-01-23 05:18] shscs911 commented on #1290
@remusao Thanks, mate. `Dark Reader` is working now. Marking issue as closed.

[2020-01-23 05:18] #1290 closed

[2020-01-23 10:30] remusao commented on #1252
@milouse Could you maybe check if this issue was fixed on your side? I think the tickets created at the time were closed.

[2020-01-23 10:31] remusao commented on #1432
@gurgunday This might be interesting here, someone did a POC of building Firefox for both Snap and Flatpak at the same time: https://valentindavid.com/posts/2019-03-27-freedesktop-sdk-snap/.

Source code can be found here: https://gitlab.com/valentindavid/firefox-buildstream/

[2020-01-23 21:42] teutat3s opened #1448 "macOS: missing app signature after update"
Dear Cliqz developers, thank you for this great browser.

I noticed a small issue when upgrading Cliqz on macOS through the built-in updater (Menu: About Cliqz):

I use the custom firewall LittleSnitch by [obdev](https://obdev.at/index.html). It checks Apps' Signatures and after the two last updates it detected not only a change in Cliqz's App Signature after each update, it seems it went missing.

[2020-01-23 21:48] teutat3s opened #1449 "macOS: letters go missing in complementary search engine ecosia or DuckDuckGo"
Dear cliqz-devs,

I guess for this issue pictures say more than words:

<img width="715" alt="Screenshot 2020-01-23 at 22 45 18" src="https://user-images.githubusercontent.com/10206665/73026725-411e1980-3e32-11ea-8c03-31810128e9f8.png">

<img width="799" alt="Screenshot 2020-01-23 at 22 46 26" src="https://user-images.githubusercontent.com/10206665/73026751-47ac9100-3e32-11ea-907a-816b173f05d8.png

[2020-01-24 08:41] milouse commented on #1252
To be honest, as it was not working, I switch back to duckduckgo xD

I just test again today (cliqz 1.32.1 / cliqz@cliqz.com 1.42.0.74) and the bug is still there. Easily reproducible with https://searx.laquadrature.net/ for example.

[2020-01-24 09:09] remusao commented on #1252
Thanks, I will have a look!

[2020-01-24 09:34] alver-cliqz commented on #1448
Good day @teutat3s.

Thank you for informing. As you can check - we have signature on all our installers and updates (_CodeSignature/CodeResources). We will check information you provided and will try to fix this issue.

[2020-01-24 09:44] alver-cliqz commented on #1449
@private-face, please have a look

[2020-01-24 18:17] ghost commented on #1432
@remusao That’s very cool!

I will do some further research looking into browsers like Beaker and how they packaged it for AppImage with the update mechanism etc. The method used to cover both Snap and Flatpak at the same time _should_ also be applied to Cliqz Browser. So I‘ll also look into building it that way. If you come up with something though, I and probably anyone interested in this topic

[2020-01-24 18:31] teutat3s commented on #1448
After an update today the same issue appeared - LittleSnitch reported a missing App Signature after using the built-in updater.

Attached is the CodeResources file found in Cliqz/Contents/_CodeSignature/ (renamed to .txt to make GitHub upload happy)

[CodeResources.txt](https://github.com/cliqz-oss/browser-f/files/4110028/CodeResources.txt)

[2020-01-31 12:06] gurgunday opened #1452 "Ubuntu: After second launch, search providers get replaced with vanilla Firefox providers"
Hi everyone, it’s been a few days of me running Cliqz Browser fully on Ubuntu now. Loving so much the built-in privacy protection and adblocker. I was going to report this before but didn’t really care at the time as you can easily set search providers with their add-on. But after reproducing it a few times I want to at least ask if this is a bug or not.

After second launch, all my search provide

[2020-01-31 13:11] remusao commented on #1452
Hi @gurgunday,

Thanks for taking the time to open an issue. Could you please give a bit more information about your exact setup? In particular:

* Are you on `release` or `beta` channel?
* Did you install Cliqz with the `ppa`?
* Could you check in `about:support` (from Cliqz browser) for the exact version of Cliqz as well as the "Cliqz extension" (a bit lower in the page). Maybe the easiest would

[2020-01-31 16:04] gurgunday commented on #1452
Hi,

- I'm on release

- Yes the issue is on the install with ppa. I also have a somewhat working AppImage build. Though it's not working in any way yet :)

- Version number is 1.32.1
Here are some screenshots

[2020-01-31 16:11] gurgunday commented on #1452
Hi,

- I'm on release

- Yes the issue is on the install with ppa. I also have a somewhat launchable AppImage build. Though it's not working in anyway yet :)

- Version number is 1.32.1

Here are some screenshots:
![2020-01-31 19-08-15 ekran görüntüsü](https://user-images.githubusercontent.com/57873259/73554621-2153aa80-445d-11ea-8b0f-e5c2ad61d2f3.png)
![2020-01-31 19-08-09 ekran görüntüsü](https:

[2020-03-02 21:10] da2x opened #1478 "Low text contrast in Settings: Labs"
<img width="1392" alt="contrast" src="https://user-images.githubusercontent.com/1102886/75718040-90c5ef80-5cd2-11ea-9ece-6ca9246220fe.png">

Cliqz 1.33.0, macOS 10.15.3

[2020-03-03 08:55] alver-cliqz commented on #1478
@sammacbeth please fix this.
@da2x thank you for report!

[2020-03-03 09:02] sammacbeth commented on #1478
This is because the settings UI is responsive to 'dark mode' being enabled in the OS, while the dat-webext settings are not. This can be fixed entirely in that project.

[2020-03-03 15:14] alver-cliqz commented on #1478
@da2x please try to force update (opening Cliqz -> About from system menu or Preferences page will do this) and check for fix

[2020-03-03 19:27] da2x commented on #1478
The text is set with a legible contrast after force-updating. The page uses different checkbox-styles from the other settings (you can see that on the above screenshot), but that is a trivial issue.

[2020-03-04 08:04] alver-cliqz commented on #1478
Ok, thank you

[2020-03-04 08:04] #1478 closed

[2020-03-25 10:19] alver-cliqz commented on #1448
Good day. Sorry, forget to mention - we found root of problem, will be fixed with next update. Thank you a lot for your help

[2020-03-31 00:27] grahamperrin commented on #1432
Side note: the port to FreeBSD – [www/cliqz](https://www.freshports.org/www/cliqz/) – seems to work well (for me, with FreeBSD-CURRENT).

Re: https://svnweb.freebsd.org/ports/head/www/cliqz/Makefile?limit_changes=0&r1=528058&r2=528057&pathrev=528058 (deprecated version of python), I have written to the port maintainer.

[2020-03-31 00:38] grahamperrin commented on #1432
https://github.com/cliqz-oss/browser-f/issues/1432#issuecomment-578242178

FWIW:

* [Provide an AppImage for Linux · Issue #127 · MrAlex94/Waterfox](https://github.com/MrAlex94/Waterfox/issues/127)
* [Provide a Flatpak as software package · Issue #1388 · MrAlex94/Waterfox](https://github.com/MrAlex94/Waterfox/issues/1388) (closed, not fixed)
* https://redd.it/6vqjww https://redd.it/ce7fnr https://

[2020-04-10 07:00] grahamperrin opened #1521 "Cliqz Tab extension release notes at AMO"
A few months ago:

![image](https://user-images.githubusercontent.com/192271/78970309-ee82fe00-7b00-11ea-9385-359532a38271.png)

Still no release notes for the add-on:

* https://addons.mozilla.org/en-GB/firefox/addon/cliqz/versions/2.43.2/updateinfo/ is empty

![image](https://user-images.githubusercontent.com/192271/78970275-d9a66a80-7b00-11ea-998d-0808d5fdeb12.png)

Please make it habit to rele

[2020-04-10 07:38] alver-cliqz commented on #1521
@private-face

[2020-04-10 09:24] grahamperrin commented on #1521
Maybe include (to be visible at `about:addons`):

* a link to https://cliqz.com/en/support
* plus direction ▶ _FIREFOX_ (in the sidebar)

– and include an answer about release notes.

[2020-06-17 08:13] hoper-a11y opened #1566 "Official build for Illumos/OpenIndiana"
Could you provide an official build for Illumos/OpenIndiana? On this platform, we only have the old Firefox 60 ESR and it's also very slow to startup and usually hangs. Thank you.

[2020-06-17 16:42] #1566 closed

[2020-06-17 19:10] alver-cliqz commented on #1566
Sorry. Project now in shutdowning process.